[2016-02-01 07:29] graugans opened #1 "Only add append files for specific layers when the layer is present"
At the moment there is a hard dependency on [meta-qt5](https://github.com/meta-qt5/meta-qt5) introduced by the bbappend for [qtwebengine](https://github.com/graugans/meta-udoo/blob/jethro/recipes-qt/qtwebengine/qtwebengine_git.bbappend)
Maybe a better solution is the way this is solved in the [meta-fsl-arm](https://github.com/Freescale/meta-fsl-arm/blob/master/conf/layer.conf) layer.

[2016-02-11 08:40] #1 closed

[2016-02-11 09:20] graugans opened #2 "Support for UDOO Quad/Dual power button"
The Quad/Dual boards are equipped with a PWR button. when shutting down the board with
[code]
The board wakes up again but during runtime nothing happens when pressing this button.

Some details from the [i.mx6 hardware dev guide](http://cache.freescale.com/files/32bit/doc/user_guide/IMX6DQ6SDLHDG.pdf)
![udoo-pwr-button](https://cloud.githubusercontent.com/assets/6263439/12972857/d847028c-d0a8-11e

[2016-02-11 09:30] modjo756 opened #3 "M4 firmware"
The file m4last.fw is not created on the folder /var/opt/M4 (for neo) after the boot. Need to put it manually.

[2016-02-11 17:43] graugans commented on #3
Strange, for me it is working after a fresh build and uploading to UDOONeo

[code]

[2016-02-11 21:00] modjo756 commented on #3
Ok, this week end i will try to re-build yocto and load the card another time.

[2016-02-12 10:14] graugans commented on #3
Please do not reflash. You can check if in the init script (`/etc/init.d/udoofota`) there is the following line:

[code]

In case it is still not working as expected you can run

[code]

And check the output

Related to swapping SD-Cards in and out I'll add support for swupdate. Feel free to comment on this in #4

[2016-02-12 10:20] graugans opened #4 "Add support for swupdate utility"
This enhancement will add [meta-swupdate](https://github.com/sbabic/meta-swupdate) to the supported layers. To get the [swupdate](https://github.com/sbabic/swupdate) working proper the bootcounter patch is needed for both u-boot and linux.

[2016-02-13 09:48] modjo756 commented on #3
Hi graugans, i rebuild a clean yocto for neo (i just saw your message this morning !) but same problem after a boot, see after a log under ssh(tty, eth not working, i will open an issue) :

[code]

For info m4last.fw is not present on tmp/image/neo (yocto)

[2016-02-13 09:51] modjo756 commented on #4
Hi, could you precise how it works please ?

[2016-02-13 10:34] modjo756 opened #5 "problem with ssh access"
sometimes on neo (after burning a new image) ssh over eth not working. test with eth0 up, ping work, under a ps when ssh over eth not working :

[code]

[2016-02-13 14:46] modjo756 opened #6 "lvds 7 inchs (neo)"
Try to launch neo with lvds7 inchs, configure uEnv.txt to use lvds in place oh HDMI but problem during the boot, see the log :

[code]
The file imx6sx-udoo-neo-full-lvds7-m4.dtb is not present in boot folder, copy it from udoobuntu2 and it works perfect, just the touch don't work under qtapp, not tested if works under linux

[2016-02-13 15:33] graugans commented on #5
Can you please run

[code]

[2016-02-13 15:38] graugans opened #7 "Dependency on meta-qt5"
There is a dependency on met-qt5 cause by ``udoo-image-qt5`` image. This dependency is annoying
If no meta-qt5 layer is present the following error mesage is spit out:
[code]

[2016-02-13 15:42] #6 closed

[2016-02-13 15:42] #7 closed

[2016-02-13 17:24] modjo756 commented on #6
thanks !

[2016-02-13 17:25] modjo756 commented on #5
i have reburn a sdcard and now works (i do this when i meet this issue), result of ps aux (with working ssh) :

`USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
root         1  0.5  0.0   1716   584 ?        Ss   23:46   0:01 init [5]
root         2  0.0  0.0      0     0 ?        S    23:46   0:00 [kthreadd]
root         3  0.0  0.0      0     0 ?        S    23:46   0:00

[2016-02-13 17:28] modjo756 opened #8 "lvds7 with udoo quad"
same problem than udoo neo, no imx6q-udoo-lvds7.dtb present in boot

[2016-02-13 17:55] graugans commented on #8
Thx, I will push an update soon

[2016-02-13 17:56] modjo756 commented on #8
you're welcome !

[2016-02-13 18:36] #8 closed

[2016-02-14 08:49] graugans commented on #6
Can you please post your changes to uEnv.txt and open a new issue for touch?

[2016-02-14 18:35] modjo756 commented on #6
my change to uEnv.txt

#save this file with unix-like newlines! (\n, 0x0A)

video_output=lvds7
m4_enabled=true

[2016-02-14 18:59] modjo756 opened #9 "touch lvds7 (neo and quad) not working in Qt app"
when i launch a Qt app on neo or quad, the touch is not working (i added tslib in my local.conf). Following this link to test the touch : [yocto touch](http://www.lindusembedded.com/blog/2013/02/07/adding-touch-support-in-yocto/).
under the result :

[code]

the i2c touch is recognize at boot and loaded with kernel. When i make a basic test with cat /dev/input/event1 | hexdump  i can see the event

[2016-02-15 05:30] graugans commented on #9
Can you please test with

[code]

Acording to [ts_calibrate manpage](http://manpages.ubuntu.com/manpages/raring/man1/ts_calibrate.1.html) There is another Blog post about debugging [ts_calibrate](http://blog.pi3g.com/2015/03/ts_calibrate-debugging/)

[2016-02-15 21:36] modjo756 commented on #9
Hi graugans, sorry but i already did this test (and retry it now), see under

[code]

it seems that ts_calibrate works fine but not the test !

[2016-02-16 09:56] graugans commented on #9
I guess the error is

[code]

According to this [stackoverflow](http://stackoverflow.com/questions/11937287/touchscreen-and-driver-installed-but-tslib-cannot-calibrate) you (we) have to patch the tslib library. Another [approach](https://github.com/OLIMEX/OLINUXINO/blob/master/SOFTWARE/A13/TOUCHSCREEN/tslib.patch) github [issue from tslib](https://github.com/kergoth/tslib/issues/16)

[2016-02-16 21:41] modjo756 commented on #9
Yes this will be the solution, i think the second is better --> apply a patch during the build. Can you guide how to apply this patch, i will make a try !

[2016-02-17 20:00] graugans commented on #9
I do stuff like this mostly the [quilt way](http://www.yoctoproject.org/docs/2.0/dev-manual/dev-manual.html#using-a-quilt-workflow).

[code]

A new terminal window will be spawned pointing directly to the source of tslib.

[code]

After this a `tslib_1.1.bbappend` needs to be created

[code]

That's it :+1:

[code]

[2016-02-17 20:20] modjo756 commented on #9
Great ! do you want i make this test or you commit the patch ?

[2016-02-17 20:24] graugans commented on #9
It would be great if you could test and if it works I think about how to add this in a Machine dependant and Yocto compatible way. If it still fails may I recommend to add `evtest` to the image and check its output.

[2016-02-17 20:35] modjo756 commented on #9
I think i didn't have the time before this week end (i'm busy with my job), can you wait ?

[2016-02-17 20:43] graugans commented on #9
Perfect. I am busy too so let's discuss this at the weekend. BTW the A62 boards are on the their way...

[2016-02-17 20:45] modjo756 commented on #9
Cool, i'm so impatient to use your yocto layer with this card  ... I let you know before the end the week your patch ...

[2016-02-20 21:58] modjo756 commented on #9
Hi graugans, i followed your guide but i have an error with the patch that i can't resolve (i think just a problem with a path) :

$ MACHINE=udooneo bitbake udoo-image-qt5

[code]

I have just modified the patch to adapt the path of my config, my changes

[code]

The path in my pc to input-raw
/media/modjo/data1TO/yocto/seco/udoo-community-bsp/neoBuild/tmp/work/cortexa9hf-vfp-neon-poky-linux-gnuea

[2016-02-20 23:23] graugans commented on #9
Please check the last entry in my top post there is the fixed patch prefix

[2016-02-21 00:26] modjo756 commented on #9
My file : [patch](https://gist.github.com/modjo756/036be569a27c2e5db4dd)

I'm sorry if i didn't understand !
now i have this error :
ERROR: Command Error: exit status: 1  Output:
Applying patch 0001-st1232-tslib.patch
patching file plugins/input-raw.c
Hunk #2 FAILED at 99.
patch unexpectedly ends in middle of line
Hunk #3 FAILED at 204.
2 out of 3 hunks FAILED -- rejects in file plugins/input-raw.

[2016-02-21 16:19] graugans commented on #9
Here we go

[code]

[2016-02-24 21:11] modjo756 commented on #9
Hi graugans, sorry but i have the same error with your file :

ERROR: Command Error: exit status: 1  Output:
Applying patch 0001-st1232-tslib.patch
patching file plugins/input-raw.c
Hunk #2 FAILED at 99.
patch unexpectedly ends in middle of line
Hunk #3 FAILED at 204.
2 out of 3 hunks FAILED -- rejects in file plugins/input-raw.c
Patch 0001-st1232-tslib.patch does not apply (enforce with -f)
ERROR

[2016-02-25 21:27] modjo756 commented on #9
I find the mistake, in your last post at line @@ -98,8 +99,8 @@ static int check_fd(struct tslib_input \* the ) is missing ! under the patch i used

[code]

[2016-02-25 22:15] modjo756 commented on #9
After a test, not work same problem with the touch ... I'm launching a new build with evtest

[2016-02-26 17:54] modjo756 commented on #9
A test with evtest give this :

[code]

[2016-02-27 21:09] graugans commented on #9
evtest seems to work with the touch display. Can you please provide the output off:

[code]

[2016-02-28 17:13] modjo756 commented on #9
see under :

[code]

[2016-02-28 18:22] graugans commented on #9
Looks like more patching needed it complains about missing `BTN_TOUCH` events

[2016-02-28 19:03] modjo756 commented on #9
:+1:

[2016-02-28 19:17] graugans commented on #9
Maybe this patch from [timesys](http://repository.timesys.com/buildsources/t/tslib/tslib-1.1/tslib-1.1-fix-multitouch-support.patch) is the right direction?

[2016-02-28 19:53] modjo756 commented on #9
I 'm building an image with this patch, i let you know ...

[2016-02-28 21:37] modjo756 commented on #9
it works :+1:

[code]

[2016-02-28 22:49] modjo756 commented on #9
Now i have the touch on Qt app but, but it didn't calibrate (i make a ts calibrate before), need to fine more information about this ...

[tslib](http://stackoverflow.com/questions/28868963/qt-5-4-linux-touchscreen-input-with-tslib-on-raspberry-pi-failing-with-linuxfb-q)

[2016-02-29 04:49] graugans commented on #9
So you've used only the timesys patch or did you have modified it somehow? So I can add this patch to the meta-udoo layer.

[2016-02-29 08:08] modjo756 commented on #9
I use only the timesys patch.

[2016-03-06 15:01] graugans opened #10 "ERROR: Failed to import the "M2Crypto" module: .../usr/lib/python2.7/site-packages/M2Crypto/__m2crypto.so: undefined symbol: SSLv2_method"
The fix for [CVE-2016-0800](https://openssl.org/news/secadv/20160301.txt) some depending modules are broken in other layers. For more details check the discussion on the [openembedded mailing list](http://lists.openembedded.org/pipermail/openembedded-core/2016-March/118399.html)

As a example the following error occurs when building ``crda``

[code]

This bug is not related to meta-udoo but the me

[2016-03-06 20:33] modjo756 commented on #3
Graugans, it seems that now it working correctly (perhaps i'm wrong before) i reload two times a sd card and i can load from arduino ide the board --> you can close the bug (m4last.fw is present on folder)

[2016-03-06 20:41] modjo756 commented on #9
After some tests this week end i can confirm that tslib is not needed to use lvds7 touch with neo ! I remove tslib from my local.conf. To use touch screen with Qt it needed to export :
`QT_QPA_EVDEV_TOUCHSCREEN_PARAMETERS=/dev/input/event1:inverty`

inverty is because on qt y is reverse in some case (or need to rotate to 180 in other board !) :
[eglfs](http://doc.qt.io/qt-5/embedded-linux.html) se

[2016-03-06 21:22] graugans commented on #9
Thanks for the update and the additional information at [udoo forum](http://www.udoo.org/forum/threads/openembedded-yocto-on-udoo-boards.2965/page-11#post-17548) I will think about a solution how to handle this in case one builds for `LVDS7`

[2016-03-07 06:38] graugans commented on #3
I will close this after a reorganization. The details are described [here](https://github.com/gmacario/easy-jenkins/issues/62)

[2016-03-07 21:07] #3 closed

[2016-03-13 08:06] #9 closed

[2016-03-16 16:21] modjo756 opened #11 "Master branch error with remove-libtool.bbclass"
Trying to build an image in master Branch (and meta-qt5 -b jansa/master-5.6)

have this error with bitbake :
[code]

[2016-03-16 16:33] graugans commented on #11
Strange, I had this running on the weekend `jansa/master-5.6`was not updated. Maybe `poky` or `meta-openembedded` are updated.

[2016-03-16 16:40] modjo756 commented on #11
yes like me. I didn't use the same machine for this build , the first test i did it at my work this one at my home. i checkout all the meta to master, just meta-qt5 to jansa/master-5.6.

[2016-03-16 16:56] graugans commented on #11
I had to fix m2crypto stuff but the rest works just fine on my PC:

[code]

This is my bblayers file:

[code]

[2016-03-16 18:21] modjo756 commented on #11
Ok, I removed my source folder and remake it with master branch, now i have this error (like you  suppose) :

[code]

How did you resolve it ?

[2016-03-16 19:00] graugans commented on #11
I've pushed the update

[2016-03-16 19:31] graugans commented on #11
Looks, like something is in limbo state on master :)

[code]

I asked for some help on this on the mailinglist

[2016-03-16 20:19] modjo756 commented on #11
i didn't have the same error, i have this now (after your update) :

[code]

My bblayers.conf

[code]

[2016-03-17 04:48] graugans commented on #11
I am short in time, the `meta-udoo` should be the last layer in your bblayers file.

[2016-03-17 10:16] modjo756 commented on #11
Sorry but i'm trying to remake all from scratch (git sources, checkout all branches to master except meta-qt5 ...) re-create with build folder and have this error :

Your build environment has been configured with:

[code]

modjo@Linux-corei5:/media/modjo/data1TO/yocto/seco/udoo-community-bsp/neoBuild$ MACHINE=udooneo bitbake udoo-image-qt5 -k
ERROR: ParseError at /media/modjo/data1TO/yocto/seco/u

[2016-03-17 13:10] modjo756 commented on #11
try to use master branch for meta qt5, build start :

Build Configuration:
BB_VERSION        = "1.28.0"
BUILD_SYS         = "x86_64-linux"
NATIVELSBSTRING   = "Ubuntu-15.10"
TARGET_SYS        = "arm-poky-linux-gnueabi"
MACHINE           = "udooneo"
DISTRO            = "poky"
DISTRO_VERSION    = "2.0.1"
TUNE_FEATURES     = "arm armv7a vfp thumb neon callconvention-hard cortexa9"
TARGET_FPU        =

[2016-03-19 16:28] modjo756 opened #12 "Problem with can bus on neo"
When we use a dtb (produce with udoobuntu and device tree editor) file that enable flexcan on neo pin, they have some error during the boot :

see : [flexcan error](https://gist.github.com/modjo756/bff1cd6522d1beef92b5)

and : [boot log](https://gist.github.com/modjo756/2760de1b66d53fef0989)

when we use ifconfig -a, didn't see can0 or can1 like [udoobuntu](http://www.udoo.org/forum/threads/canope

[2016-03-20 08:46] graugans commented on #12
Sorry,  I am busy with **real world** tasks at the moment I will try to take a look into this soon. CAN you please attach the DTS files?

[2016-03-20 10:24] modjo756 commented on #12
No problem, yes it takes times to play with this cards ...
This is the dts files from udoobuntu (in opt/dtweb/dtbkernel/arch/arm/boot/)
[dts-udoobuntu_CANok_Uart6.tar.gz](https://github.com/graugans/meta-udoo/files/181235/dts-udoobuntu_CANok_Uart6.tar.gz)

[2016-03-20 11:42] modjo756 commented on #12
Ok, i have copied the folder dtbkernel from udoobuntu to my yocto sd card (opt folder). boot the card with yocto and go to dts. I "make dtbs" and copy the dtb generated to /boot/dts-overlay. reboot the card and same problem, no can appears and same problem during the boot ...

[2016-03-20 16:24] graugans commented on #12
To use CAN you'll have to disable the `M4` core by adding this to your `uEnv.txt`

[code]

After this I get the CAN interface and there is no more kernel OOPS. Can you please check if in UDOOBuntu the m4 is as-well disabled?

[2016-03-20 18:21] modjo756 commented on #12
I will try this but on udoobuntu there is M4 enabled (arduino working) and CAN enabled ...

[2016-03-20 19:01] graugans commented on #12
So could you please so kind and call `md5sum` on the m4 firmware files. Maybe I use old ones

[2016-03-20 21:02] modjo756 commented on #12
I suppose you talk about the files on boot folder ?

In udoobuntu :

_modjo@Linux-corei5:/media/modjo/boot1$ md5sum m4clean.fw
7aa83b6b25b23cc7d6e92aa757a0920e  m4clean.fw
modjo@Linux-corei5:/media/modjo/boot1$ md5sum m4startup.fw
32a0519c167f98070956e601764c71df  m4startup.fw_

In meta-udoo master

_modjo@Linux-corei5:/media/modjo/boot2$ md5sum m4clean.fw
7aa83b6b25b23cc7d6e92aa757a0920e  m4clean

[2016-03-20 21:07] graugans commented on #12
I am confused, the CAN interface is only initialized properly when M4 is disabled. This needs more investigation.

[2016-03-20 22:05] modjo756 commented on #12
Yes this strange ... otherwise qtserialbus[ working on neo ](http://www.udoo.org/forum/threads/canopen-communication-with-qt-on-udoo-neo.3709/#post-17904)

[2016-03-31 08:56] graugans commented on #10
This is now fixed in [upstream](https://github.com/openembedded/meta-openembedded/commit/c305ac5d2f5285d5eec8952a4ca7f3b4f89aed96)

[2016-03-31 19:07] #10 closed

[2016-04-01 07:18] modjo756 commented on #12
Hi graugan, for the problem with can and M4, perhaps we can use this tool tool to enable the M4 after  [start](http://www.udoo.org/docs-neo/Cookbook_Linux/Turn_off_M4_Arduino_core.html) ? Not present for the moment in yocto. What do you think about this ?

[2016-04-01 07:54] graugans commented on #12
You have an idea where the source is located for this? I guess this is some php5 script.

[2016-04-01 13:00] modjo756 commented on #12
No i need to investigate ...

[2016-04-01 19:50] graugans commented on #12
here we go [https://github.com/fmntf/dtweb/blob/master/utils/udoom4ctl](https://github.com/fmntf/dtweb/blob/master/utils/udoom4ctl) it is a PHP5  app. It just sets the value in the `uEnv.txt`

[2016-04-02 15:53] modjo756 commented on #12
Thanks, this not resolve the problem ...

[2016-04-03 18:17] graugans commented on #12
I have a hunch, it smells like we have to update the kernel version. I just tested with a vanilla UDOOBuntu -> same error like on yocto.... I am updating the UDOObuntu and check after this

[2016-04-03 18:58] graugans commented on #12
No chance on UDOO Neo with UDOObuntu and latest kernel same issues like on Yocto. When M4 is disabled CAN works like a charm :(

[2016-04-03 19:56] graugans commented on #12
I guess I've fixed the CAN issue:

[code]

ATM it looks like a combination of the default M4 firmware, kernel and DeviceTree. After using this sketch as initial FW everything is okay:

[code]

But now its time for the couch...

[2016-04-04 07:33] modjo756 commented on #12
Congratulation Graugans, i did the same ! I added a sketch on /var/opt/m4 (blink example) and now it works CAN+M4. Need to add a default sketch to yocto ...

[2016-04-04 07:34] #5 closed

[2016-04-05 17:51] graugans commented on #12
I've uploaded one yesterday:https://github.com/graugans/meta-udoo/commit/b873cbfef36f64aa3337a4c938329b3a21cab101

[2016-05-03 08:08] modjo756 commented on #12
Problem solved with your add

[2016-05-03 08:08] #12 closed

[2016-05-03 08:10] modjo756 opened #13 "Add bluez support for qt5"
Bluetooth work on yocto but to use it with qt, we need to add bluez 5 before the build of qt. Looking to add this bluez5 on neo.

[2016-05-03 11:49] graugans commented on #13
This is something waiting on the TODO list :) I wrote this [howto on bluez5](http://ch.ege.io/blog/2015/04/12/running-bluez5-on-yocto-slash-openembedded/) a year ago I am not sure if this is still valid.

[2016-05-03 16:02] modjo756 commented on #13
Hi graugans, yes i tried to add this :

[code]

it build :
Currently 1 running tasks (1053 of 1060):
0: bluez5-5.33-r0 do_compile (pid 9434)

i also find this recipe : [bluez5-qt](http://layers.openembedded.org/layerindex/recipe/39156/) but i don't know if it realy necessary ...

when i launch a qt exemple (scanner bluetooth) i have this warning :
"Cannot find a running Bluez. Please check the Blu

[2016-05-04 08:40] modjo756 commented on #13
It seems to work (i can discover device with Qt), but i need to launch manually  bluetoothd  in /usr/lib/bluez5. Do you have an idea how to configure yocto to launch it at startup ? I need to make more test (bluetoothLE ...) to check if all work fine.

[2016-05-04 08:48] graugans commented on #13
I have to check about bluetoothd maybe systemd image is expected.. related to BLE I did some [BLE test last year](http://ch.ege.io/blog/2015/04/12/orico-bta-402-usb-bluetooth-4-dot-0-low-energy-micro-adapter-on-odroid-c1/) It was on the ODROID-C1 but this shouldn't have changed much

[2016-05-06 20:12] modjo756 commented on #13
Good news, bluetooth LE seems to work with Qt --> test with heart rate example and my geonaute heart belt, works fine ! Now need to launch bluetoothd at startup :-)

[2016-05-08 09:09] graugans commented on #13
Sorry for the delay, but the weather is far too beautiful to sit in the basement :)

The bluetooth daemon is disabled by default, when reading the init script things get clear

[code]

When you provide a file `/etc/default/bluetooth` with the following content:

[code]

`bluetoothd` should fire up during start-up

[2016-05-09 14:35] modjo756 commented on #13
Thanks, i have create the file /etc/default/bluetooth with BLUETOOTH_ENABLED=1 but nothing change at startup. Do i need to create the script you talk above in rc.local or another place ?

[2016-05-09 19:01] graugans commented on #13
Looks like there is another bug in the init file the entry

[code]

is invalid. The right one is:

[code]

[2016-05-10 07:11] modjo756 commented on #13
Thanks, but can you tell me where is locate the init file please ?

[2016-05-10 07:53] graugans commented on #13
Sure, `/etc/init.d/bluetoothd`

[2016-05-10 11:45] modjo756 commented on #13
Thanks, i didn't have this file in my sdcard, i suppose i need to create it ? after that do i need to export (or register ...) it to enable the service at startup ? Otherwise, i just saw that bluez is already install in master image (not tested jethro), it's not necessary to add  bluez to local.conf ...

[2016-05-12 04:22] graugans commented on #13
I did exactly what I described [here](http://ch.ege.io/blog/2015/04/12/orico-bta-402-usb-bluetooth-4-dot-0-low-energy-micro-adapter-on-odroid-c1/) this provides the bluez5 stuff. [I've submitted a patch](http://patches.openembedded.org/patch/122321/) to oe-core for review which fixes the init script issue.

[2016-05-12 14:47] modjo756 opened #14 "Rx on uart6 not working ..."
like describe in this [thread](http://www.udoo.org/forum/threads/a9-uart6-and-udoobuntu.3196/), uart6 not work, Rx FIFO overrun. To correct this we need to rebuild the kernel with this patch
[udooUart6.patch.zip](https://github.com/graugans/meta-udoo/files/261558/udooUart6.patch.zip) and add file://udooUart6.patch \ to linux-udooboard.inc. Now work fine :-)

[2016-05-13 08:21] graugans commented on #14
I'll fix this by end of next week when getting back from vacation

[2016-05-13 08:23] graugans commented on #11
Due to the fact meta-qt5 switched to qt5.7 recently I have to update stuff taking this into account

[2016-05-13 19:17] graugans commented on #14
You still see this issue? Because the [PR on UDOOBoard kernel](https://github.com/UDOOboard/linux_kernel/pull/16) is closed.

[2016-05-17 07:12] modjo756 commented on #14
Thanks for your link, i let a message about this issue on this thread !

[2016-05-17 14:49] graugans commented on #2
Here is a workaround for the issue: http://www.clarenceho.net/2016/05/adding-shutdown-button-to-udoo.html?m=1

[2016-05-20 18:05] graugans commented on #13
My [patch](https://github.com/openembedded/openembedded-core/commit/63cde9b8101ed39376529f3205d32729341d5802) is applied upstream. So everything should work as intended.

[2016-05-25 09:12] modjo756 commented on #13
Ok, i launch a new build with krogoth branch, but to apply your patch i merge poky to master branch.

[2016-05-25 10:42] graugans commented on #13
I can add the fix for meta-udoo and krogoth. Maybe I can try in parallel to bring it in krogoth branch of openembedded aswell. As a next patch I think we should push the `qtserialbus` patch to meta-qt5. I am still in the progress to fine tune the krogoth branch of meta-udoo.

[2016-05-25 11:02] modjo756 commented on #13
bitbake bluez5 with udoo krogoth and master poky works fine. Now i have launch udoo-image-qt5 build. I let you know. Yes it would be a good thing to add a patch for qtserialbus to meta-qt5 !

[2016-05-25 15:21] modjo756 commented on #13
Build with krogoth ok, just somes errors with md5 checksum see [here](https://gist.github.com/modjo756/f808bf4e826fc041a9be0ae8fb7bf771). Tomorrow i will test bluetooth ...

[2016-05-26 09:13] modjo756 commented on #13
All work fine with krogoth. Bluetooth is started at boot and work with Qt. Arduino, CAN, uart6 (with patch) works all ! Good work :+1:

[2016-05-26 09:13] #13 closed

[2016-07-09 17:13] modjo756 opened #15 "Krogoth branch and Qt5.7"
Hi graugans, i have compiled yocto krogoth branch with meta-qt5 in master branch to have qtchart ( a new module to draw charts ...) It's compile fine but i need to remove  qtbase-fonts  in your udoo-image-qt5.bb to remove an error --> apparently in qt5.7 they remove it ! but now i have an error when i deploy an app on the card (in neo for the moment) :

_QFontDatabase: Cannot find font directory /

[2016-07-10 19:41] graugans commented on #15
I will take a look when I've finished Seco A62 GLES and A62 CAN & Neo CAN

[2016-07-10 19:59] modjo756 commented on #15
Ok no problem ! I will post a message on mailing list to see if someone have a solution !

[2016-08-22 11:05] modjo756 opened #16 "Arduino not working on udoo quad"
For the moment it's impossible to program the sam3x of udoo quad with yocto, i have this error :
SAM-BA operation failed
ERASE FLASH
need help to correct this !

[2016-08-26 11:09] graugans commented on #16
Sorry UDOO board is out of reach for the next weeks could you ping me in three weeks?

[2016-08-30 11:00] modjo756 commented on #16
Ok no problem !

[2016-09-19 11:11] modjo756 opened #17 "SECOA62 lvds7 screen not working"
Hi, i have rebuilt a complete image (from scratch) for secoA62 Krogoth branch. All work fine but lvds7 is not working, see this post for details : http://www.udoo.org/forum/threads/openembedded-yocto-on-udoo-boards.2965/page-18#post-21027

[2016-09-22 05:29] graugans opened #18 "Add a kernel recipe for kernel 4.1"
Thanks to @fmntf there is a kernel 4.1 port available for [udoo boards](https://github.com/UDOOboard/linux_kernel/issues/23) the branch is located in his [kernel repo](https://github.com/fmntf/linux_kernel/tree/4.1.15_1.x-udoo)

[2016-10-07 14:29] modjo756 commented on #17
I have make a patch to use the lvds7 on secoA62, see here :
[patchLvds7](https://gist.github.com/modjo756/183251fa29399b42f3397d41ab16a1b1)

To have a working screen, i removed the second channel of the lvds (i don't know the reason of this bug ...)

In this patch, i also activate some devices :
- spi2
- can1
- i2c1
- uart5

All seems to be working fine (i tested all of this). The point that need

[2016-10-07 19:47] graugans commented on #17
Audio is on my todo  as-well I am unsure in what shape 4.1 for A62 is. A first step should be to bring device tree of A62 to the same level of udoo quad/dual. Then porting is more easy

[2016-10-10 07:08] modjo756 opened #19 "yocto don't boot on secoA62 emmc"
For the moment yocto don't boot on secoA62 emmc. Apparently a problem from uboot/SPL that is not the good version for the board. See [here](http://www.udoo.org/forum/threads/copy-yocto-image-to-emmc.4969/) for more details

[2016-10-10 19:31] graugans commented on #19
This is due to the fact the internal emmc is not yet activated in U-Boot

[2016-10-10 19:33] graugans commented on #19
I have a preliminary patch available to activate eMMC in u-boot. At the moment the the devices are in the wrong order.  U-Boot now tries to boot from emmc when booted from SD-Card... When this is sorted out I try booting from eMMC.

[code]

It [looks like](https://github.com/SolidRun/u-boot-imx6/commit/10acd12efd8887a37e1f0be955763c5e2f4dad16) the mapping is based on the ordering of registering th

[2016-10-11 16:05] modjo756 opened #20 "sdk package not working (qt)"
I have build a sdk package for sa62 (build with qt5.6.2, meta-qt5 layer krogoth branch). The sdk build fine. After install the package and configure qt creator for the kit, i have this error when i try to deploy an app :

`/usr/bin/ld: cannot find -lQt5Widgets
/usr/bin/ld: cannot find -lQt5Gui
/usr/bin/ld: cannot find -lQt5SerialPort
/usr/bin/ld: cannot find -lQt5Core
/usr/bin/ld: cannot find -lGL

[2016-10-11 20:34] graugans commented on #19
After [changing the order](https://github.com/graugans/meta-udoo/blob/65f09f00e9792a1b5e5e08c3e232ee7aeeeced64/recipes-bsp/u-boot/u-boot-seco/secosbca62/0001-Added-preliminary-eMMC-support-for-Seco-A62.patch) the board boots at least from uSD card but eMMC still fails, because the loading of the kernel tries to load from uSD. This needs more investigation

[code]

[2016-10-11 21:47] modjo756 commented on #19
Thanks for the details of your job !

[2016-10-12 06:02] graugans commented on #20
I'll dig into this when the [eMMC boot](https://github.com/graugans/meta-udoo/issues/19) works

[2016-10-12 13:07] graugans commented on #19
I just updated the patch. If you want to test the latest image you can download a command line only  image [here](https://buildr.ege.io/YOCTO/krogoth/udoo/udoo-image-full-cmdline-secosbca62.sdcard.gz)

There is the eMMC resizing missing. This need adjustment in the rootfs resizing script.

[2016-10-12 14:11] modjo756 commented on #19
Nice work ! tested and approved :+1:  the card boot on emmc when i removed the jumper (just resizing script not work apparently).  If i replug the jumper, the card boot on sd !

[2016-10-12 15:56] modjo756 commented on #15
I have make some progress today on this point. On my host machine i have downloaded [dejavu](http://dejavu.sourceforge.net). On the card i have created a folder fonts in /usr/lib/. with scp, copied the dejavu fonts in this folder, now qt works fine !
To integrate this layer on qt, i added ttf-dejavu in local.conf like this :

IMAGE_INSTALL_append = "\
     htop \
     nano \
     ttf-dejavu \
"
bi

[2016-10-12 16:47] modjo756 opened #21 "Remove qtquickcontrols2.bb from meta-udoo"
With the update of meta-qt5 krogoth (update to qt5.6.2) you can now remove the folder meta-udoo/qt5-layer/recipes-qt/qt5 that contains qtquickcontrols2_git.bb and qtserialbus_git.bb (now in meta-qt5 layer) in more, this remove an error with qtquickcontrols2 build.

[2016-10-13 08:42] graugans commented on #21
Can you please create an pull-request?

[2016-10-13 08:44] graugans commented on #19
Another topic might be the u-boot environment location. But this is low prio I think because the way to go is using uEnv.txt in /boot partition

[2016-10-13 09:12] modjo756 commented on #20
After a test with udoo quad, same error --> not working. I don't know if it's an issue with meta qt5 or meta-oe ?! I will try a build with an older meta-qt5 to see ...
edit :
i take a precedent layer of qt5 but same result... i have compare qmake version of neo (qt5.6.1) and quad or seco (qt5.6.2 or 5.7) with qmake -query

![selection_051](https://cloud.githubusercontent.com/assets/5494427/1935356

[2016-10-13 09:22] modjo756 commented on #21
Yes i will try but i don't know how to do this ? Do i need to create a fork of your layer on my git to do it ?

[2016-10-13 14:53] modjo756 commented on #15
update with the help of yocto mailling list, i had this in my local.conf
    ttf-dejavu-sans \
    ttf-dejavu-sans-mono \
    ttf-dejavu-sans-condensed \
    ttf-dejavu-serif \
    ttf-dejavu-serif-condensed \
    ttf-dejavu-common \

now it build without any error ! Now the problem is to install the ttf font in the folder /usr/lib/fonts ... and i didn't know how to do this !

[2016-10-13 16:00] modjo756 commented on #15
i have tried this :
add a folder recipe-graphics/ttf-dejavu in meta udoo.
add this file in ttf-dejavu
[ttf-dejavu_2.35.bbappend.tar.gz](https://github.com/graugans/meta-udoo/files/527604/ttf-dejavu_2.35.bbappend.tar.gz)
 but it seems not install the files in the good place ... already in usr/share/lib/fonts

[2016-10-13 21:19] modjo756 commented on #21
let me know if my (first) pull-request is ok !

[2016-10-14 04:30] graugans commented on #20
I'll take a look into this at the weekend

[2016-10-14 04:31] graugans commented on #21
Looks good and it is merged. So I close this.

[2016-10-14 04:31] #21 closed

[2016-10-14 05:50] graugans commented on #15
Maybe [this](http://www.qtforum.org/article/25367/embedding-custom-fonts.html) is another option?

Have You already tried to use the [packagegroup-fonts-truetype-core](https://github.com/openembedded/meta-openembedded/blob/02f77f7571e96958147343fb39a08d1fecd8d5f9/meta-oe/recipes-graphics/packagegroups/packagegroup-fonts-truetype.bb)

Another [hint](http://doc.qt.io/qt-5/embedded-linux.html#fonts)

[2016-10-14 06:36] graugans commented on #17
@modjo756 could you please be so kind and add a Pull request for the `CONFIG_SPI_SPIDEV=y` in defconfig?

Kernel 4.1 is definitely [on the list](https://github.com/graugans/meta-udoo/issues/18). I would like to play with device-tree overlays. I am not sure of there is support in the 4.1 NXP kernel or not.

[2016-10-14 07:28] modjo756 commented on #15
I will take a look to this today or this week end.

[2016-10-14 07:32] modjo756 commented on #17
Yes i will do it this week end. Do i add my [patch](https://gist.github.com/modjo756/183251fa29399b42f3397d41ab16a1b1)  in the same time ?

[2016-10-14 08:02] graugans commented on #17
For the patch I would like to go like I did in UDOO Neo. Or rework the whole selection of configuration. Like device-tree overloads

[2016-10-14 08:05] modjo756 commented on #17
ok no problem i understand. I let my patch in my git.

[2016-10-15 20:51] graugans commented on #16
After adding the [bossac](https://github.com/graugans/meta-udoo/commit/c696609b3ca01aaf9dc94ebdaf8a4b42c3a858a2) I can manually erase the `SAM3X`

[code]

Flashing a sketch from the PC

Transfer the bin file via ssh

[code]

Flash the SAM3X on the UDOO

[code]

[2016-10-15 21:55] graugans commented on #16
We might need to check the status of the following PINS in the device-tree

[code]

[2016-10-15 23:12] modjo756 commented on #15
@graugans, i have resolve the problem. See my folder [here](https://github.com/modjo756/meta-udoo-modjo/tree/krogoth-modjo/recipes-graphics) . Let me know if you would a pull request

[2016-10-16 15:46] cyrilfr commented on #20
Sounds like a linking issue. Did you add the modules to your .pro file?

[2016-10-16 16:53] modjo756 commented on #20
Yes, this is not the problem (i use project that works before with the older version qt5.6 or example). I think it's a problem with mkspec (use linux-g++ but we needs linux-oe-g++) ! see this [comparison](https://cloud.githubusercontent.com/assets/5494427/19353561/0c2e1a00-9164-11e6-82c4-c21de0b07266.png) between an older qmake that worked with the new generated.
I have send a mail to yoctoProject

[2016-10-16 17:30] cyrilfr commented on #20
Personally I use that layer : [https://github.com/meta-qt5/meta-qt5](https://github.com/meta-qt5/meta-qt5). It has nothing to do with meta-freescale.

[2016-10-16 19:28] modjo756 commented on #20
Yes i use also meta-qt5, but on meta-freescale they have otavio salvador who is a maintainer of meta-qt5. If you know a mailing list, forum ... on meta-qt5 let me know please.

[2016-10-17 05:22] graugans commented on #19
I did some test yesterday based on the resize script. I have to rework the script to use the kernel command line to detect the rootfs partition relying on the disk label does not work because sometimes I get the label from the uSD card.  From [meta-mali](https://github.com/ARM-software/meta-mali/blob/master/recipes-support/resize-rootfs/files/resize-rootfs)

[code]

[2016-10-18 18:39] modjo756 commented on #20
@graugans @cyrilfr i have found the problem with sdk. Now to have the deploy working, it's needed to add linux-oe-g++ to Qt mkspec, see the picture under !
![qtcreatorconfig](https://cloud.githubusercontent.com/assets/5494427/19491357/f1019b40-9572-11e6-88d0-13edb6ea1d42.png)

[2016-10-19 04:48] graugans commented on #20
Hi, what branch are you using? For krogoth a krogoth branch in meta-qt5 is recommended. It could be possible names of tools changed and so the qt5 tutorial needs an update. If you find some time to create a minimal example we can provide this and refer to it

[2016-10-19 06:19] graugans commented on #16
I'll close this issue. If the issue is still present feel free to reopen it again. For me it worked with the [following workarround](http://www.udoo.org/docs/Arduino_DUE_%28Sam3x%29/Troubleshooting_Programming_Arduino_Due_from_External_PC.html)

[2016-10-19 06:19] #16 closed

[2016-10-19 06:20] graugans commented on #11
I'll close this due to the fact master is not supported at the moment.

[2016-10-19 06:20] #11 closed

[2016-10-19 07:42] modjo756 commented on #20
Hi graugans, i use master for meta-qt5 and krogoth for the other (but this is the same result with krogoth branch, tested). The only thing that is needed to change is to add linux-oe-g++ to Qt mkspes field.  I can create an example but can you preceise your ask ? Would you like a tutorial to configure QtCreator or deployment  example ?

[2016-10-19 07:44] modjo756 commented on #15
I close this issue because it work for me now on quad and sa62 with qt5.7

[2016-10-19 07:44] #15 closed

[2016-10-19 19:38] modjo756 commented on #16
@graugans just tested, work fine --> good job :+1:

[2016-10-20 08:04] modjo756 commented on #20
I close this issue, another user have tested it (mailing list meta-freescale)  and works too for him.

[2016-10-20 08:04] #20 closed

[2016-11-11 10:33] modjo756 opened #27 "uEnv.txt is not found at boot"
Tested with the new build (u-boot-fslc) for quad and secoA62. U-boot don't find uEnv.txt see the log [here](https://gist.github.com/modjo756/5cc9761d653862d3cf2fcae5371c04a6)

[2016-11-11 10:38] modjo756 opened #28 "ethernet not working on seco A62"
With the new build eth is not working on secoA62, log at boot give this error
[code]
see the full log [here](https://gist.github.com/modjo756/5cc9761d653862d3cf2fcae5371c04a6)

[2016-11-11 12:11] graugans commented on #27
Yes, it looks like the `/boot` prefix is [missing](https://github.com/graugans/meta-udoo/blob/547596100836b1b45acba8425735daac63dad589/recipes-bsp/u-boot/u-boot-fslc/0004-Added-Seco-A62-support.patch#L1121).

[2016-11-13 19:05] #27 closed

[2016-11-14 06:26] graugans commented on #28
From a quick check it looks like the device tree entry is looking different:

[Old kernel](https://github.com/UDOOboard/linux_kernel/blob/imx_3.14.28_1.0.0_ga_a62/arch/arm/boot/dts/imx6qdl-seco_SBC_A62.dtsi#L292) vs. [new Kernel](https://github.com/UDOOboard/linux_kernel/blob/imx_3.14.28_1.0.0_ga_a62/arch/arm/boot/dts/imx6qdl-seco_SBC_A62.dtsi#L292)

OLD (working) one

[code]

New (not working) on

[2016-11-14 07:16] graugans commented on #28
Maybe one of the guys from Seco/UDOO can assist here.
- @DavideCardillo
- @Ekironji
- @fmntf

I am not a device tree pro.

[2016-11-14 09:04] stefano-garzarella commented on #28
I confirm, I have exactly the same problem!

[2016-11-14 09:38] modjo756 commented on #28
I make some research (on google) about this problem this morning and find nothing to help ! This afternoon i will try a build with a patch to come back to old kernel version (only for eth pin) and check if it works ...

[2016-11-14 19:33] graugans commented on #28
@stefano-garzarella what buildsystem/distributio are you using?

For more details about the device tree binding can be found [here](https://github.com/UDOOboard/linux_kernel/blob/3.14-1.0.x-udoo/Documentation/devicetree/bindings/net/fsl-fec.txt)

[2016-11-15 16:11] graugans commented on #28
Please check with the latest commit. For me it is working within a Gigabit network

[2016-11-15 18:43] modjo756 commented on #28
@graugans , i think your commit works, because i did the same today and it also working for me, see [here](https://github.com/modjo756/meta-udoo-modjo/commit/b674c97227bf3e915c2df4ba734171776d7252cd). In this patch i also added can,spi,i2c ...
I also added a secosbca62 folder with uEnv.txt in uboot to build uboot for A62 (if not i need to build it manually !)

[2016-11-15 18:47] modjo756 commented on #17
issue close with the update of u-boot-fslc. Now working fine

[2016-11-15 18:47] #17 closed

[2016-11-15 21:04] graugans commented on #28
Okay, I'll check my uEnv.txt logic tomorrow. I recommend to split the patch for CAN, I2C and SPI. Maybe we can push the Ethernet changes upstream to the UDOO repo.

[2016-11-15 22:08] fmntf commented on #28
Yes, pull requests are welcome!

[2016-11-17 12:17] modjo756 commented on #28
I have split my patch in some modules, see [here](https://github.com/modjo756/meta-udoo-modjo/commit/1ca20d0d10a62a4e24705fdabf1b01935ab838ce). Network is ok now, i close this issue.

[2016-11-17 12:17] #28 closed

[2016-11-17 12:23] modjo756 commented on #19
After a test with u-boot-fslc the card boot on emmc but for that i need at boot to do that :
_setenv mmcroot /dev/mmcblk0p1
saveenv_
after the card boot on emmc and your resize script work fine. But if i remove the sdcard and try to boot, i have this error :
_U-Boot SPL 2016.07+fslc+ge6b4241 (Nov 15 2016 - 17:35:18)
Trying to boot from MMC1
Card did not respond to voltage select!
spl: mmc init fai

[2016-11-17 13:05] modjo756 commented on #20
@graugans , @cyrilfr about this problem i posted on yocto mailing list this issue. Someone post me a private message that explain this :
_Problem lays in the patch 0008-configure-paths-for-target-qmake-properly.patch used in nativesdk-qtbase_git.bb.

From the patch:

[code]

Since QT_CROSS_COMPILE then it sets the SPEC to linux-g++.

To test if you have the same problem as me.

Remove the patch fr

[2016-11-17 18:26] graugans commented on #19
Yes, this is caused due to the different logic of boot selection. I have to check why u-boot fails to boot from emmc....

[2016-11-20 15:23] graugans commented on #19
This was fixed with commit [30a6fc0e74c7971fc7bd8457f5d64528a8133079](https://github.com/graugans/meta-udoo/commit/30a6fc0e74c7971fc7bd8457f5d64528a8133079)

[2016-11-20 15:23] #19 closed

[2016-11-20 17:02] modjo756 commented on #19
Good, i will try tomorrow and let you known.

[2016-11-21 09:47] modjo756 commented on #19
tested this morning and work fine. Nice job !

[2016-11-24 09:55] modjo756 commented on #2
I think to add the pwr button working, need to add this during the kernel build :
[power](https://secogit.seco.com/imx6_release/linux-3-14-28-secoboards-imx6_rel/commit/fff7e6853a574187a38dfb3e89f18efd83c446ec#a09b3da08a589c8d1fa12bff24024269c0cdf6dc_3352_3352)

[2016-11-25 16:12] modjo756 opened #29 "uboot don't build"
Today i build an image for udoo quad on a new machine and uboot don't build automatically with bb udoo-image-qt5 need to build it manually. if i don't do that i have an error with wic :
_ERROR: udoo-image-qt5-1.0-r0 do_image_wic: Function failed: do_image_wic_

[2016-12-06 21:47] modjo756 opened #30 "upload scketch to udooneo not working"
Trying to load sketch from arduino ide (from host pc) over network not working (take long times to upload without errors but nothing change on the card, not update of M4 firmware) . If i'm connect to the card and see /var/log/udoofota-server.log i see this :

_root@udooneo:/var/log# cat udoofota-server.log
[2016-12-05 22:34:59 UTC] (sys) Starting_

it seems to be ok, and on znmap i can see that po

[2016-12-07 10:47] modjo756 commented on #30
After some test, it seems that for yocto we need to use udooclient (udoofota) V1.0 and not V1.2 to load the code on the card. this work with the precedent build (kernel 3.14.28 and uboot udoo) but not with the last build

root@udooneo:~# udooserver
Connection accepted on 5152 port
Uploader command received
Received fileSize = 110601
Command = udooneo-m4uploader M4_file.fw
UDOONeo - Failed to Start

[2016-12-08 07:53] cyrilfr commented on #30
Did you move forward to the last commits of both udoofota and m4uploader?

[2016-12-08 08:35] modjo756 commented on #30
yes you are right, we use an older version of this files ... I will update it and try a new build !

[2016-12-08 10:02] modjo756 commented on #30
After a test (change SRCREV in .bb to lasted rev), we can use udooclientV1.2 but we yet have an error on the card :
_root@udooneo:~# udooserver
Listening connections on port 5152
Connection accepted on port 5152
bytesReceived = 13
Uploader command received
Received end of file
Received fileSize = 110548
Command = udooneo-m4uploader M4_file.fw
/usr/bin/udooneo-m4uploader: line 93:   444 Bus error

[2016-12-09 09:47] fmntf commented on #30
Hi; don't know.. that script should not be used. I directly use mqx_upload_on_m4SoloX. In fact, in Android there is only mqx_upload_on_m4SoloX and not udooneo-m4uploader.

[2016-12-09 13:47] modjo756 commented on #30
@graugans , how we can modify the layer to use mqx_upload_on_m4SoloX instead of udooneo_m4uploader ?

[2016-12-09 13:59] fmntf commented on #30
In [udooserver.c](https://github.com/UDOOboard/udoofota/blob/master/udooserver.c) `M4_FIRMWARE_RECEIVED_FILE` should become `/var/opt/m4/m4last.fw`. Then `mqx_upload_on_m4SoloX` can be symlinked to `udooneo-m4uploader`, so the script will not be present at all in the rootfs.

That's how it is implemented on Android, by direct suggestion of the original `mqx_upload_on_m4SoloX` authors from Seco.

[2016-12-09 17:58] modjo756 commented on #30
make a patch to change M4_FIRMWARE_RECEIVED_FILE and works perfect ! i need to make some change before to pull the patch and close the issue. Thanks for your help fmntf

[2016-12-09 23:11] modjo756 commented on #30
Add a pull request to correct this issue. Only one problem persist. At first boot we have the same error but after a reset we can upload the sketch ... perhaps a problem with the init script ?

[2016-12-15 20:00] modjo756 commented on #18
Hi garugans, just to know if you have made some progress on this ? I saw on[ udoo github ](https://github.com/UDOOboard/linux_kernel/issues/23#issuecomment-267331976)that they make some progress

[2016-12-15 21:39] graugans commented on #18
Not startend so no progress ;) for quad there are even mainline patches available. But in this case etnaviv will be needed for opengl. I do not know if this works with QT5

[2016-12-16 10:19] modjo756 opened #33 "No fb0 on SBCA62 solo"
Hi, i'm trying to use a scosbcA62 solo with yocto image but i have a problem with frame buffer. I want to use lvds with it but i didn't have fb0 in /dev ? see [here](https://gist.github.com/modjo756/8caf8379b1ad21e6db07d7e3d9b2449a) the log at boot (you can see line 217 that they have a problem with fb0 --> Error opening /dev/fb0: No such file or directory). I have trying to resolve this but nothi

[2016-12-16 10:55] graugans commented on #33
My problem with Seco SBC A62 is there are the DRAM Settings missing in any official source. The one I do use may not optimal. But this shouldn't conflict with LVDs. Have you checked the manuals if the Solo has all capabilities? In UDOO Neo they use a special chip for HDMI AFAIK... So maybe the Solo is special as well.

[2016-12-17 06:32] modjo756 commented on #33
Yes Graugans, if i boot on emmc (that have the seco original image), this work fine on lvds.

[2016-12-17 07:14] graugans commented on #33
Have you checked the device tree? Maybe there is something different?

[2016-12-17 07:26] modjo756 commented on #33
Yes but nothing that can help for the moment ...

[2016-12-17 07:39] modjo756 opened #34 "CAN not working NEO"
Hi with the new version of yocto (since u-boot fslc) i have some trouble with can bus. With the older version if i did this (with two shell connected to the card) :
first shell :

_root@udooneo:~# sudo ip link set can0 type can bitrate 125000 loopback on
root@udooneo:~# sudo ifconfig can0 up
root@udooneo:~# candump can0_

on the second shell :

_root@udooneo:~# cansend can0 500#1E.00.10
root@udoon

[2016-12-17 10:25] modjo756 commented on #33
In this file there are some config for RAM https://github.com/UDOOboard/uboot-imx/blob/3989280f796a19ef4d0b6aa4a43f9ac53582a72b/board/seco/ddr/mx6_SBC_A62_ram.cfg
and [here](https://github.com/UDOOboard/uboot-imx/blob/3989280f796a19ef4d0b6aa4a43f9ac53582a72b/board/seco/ddr/cfg_A62/a62SOLO_1066mhz_2x256mx16.cfg)

[2016-12-17 15:18] modjo756 commented on #34
after another test, if i send the message like this :
`root@udooneo:~# cansend can0 -i 0x500 0x10 0x20 0x30`
i obtain this :
`<0x500> [3] 10 20 30 `

another point, on the older build, cansend --version give :
`Usage: cansend <device> <can_frame>.`

and on the newer :
`cansend 4.0.6`

It seems that the version of canutils or libsocketcan has changed ... strange

[2016-12-19 10:36] modjo756 commented on #34
Tested today with oscilloscope and peakcan (on another PC). We have a BUSHEAVY error in PCAN-view. I have a signal with oscilloscope but is not good, perhaps a problem with the clock ... @fmntf , just a question, did you make some special modifications in your u-boot-imx for neo flexcan please ?

[2016-12-19 14:30] fmntf commented on #34
Sorry, no CAN support in U-Boot.

[2016-12-19 15:43] modjo756 commented on #34
Thanks for your answer !

[2017-01-31 10:25] cyrilfr commented on #18
I moved forward to morty and I added the u-boot-fscl and the linux-imx (kernel v4.1.15) recipes from meta-freescale to my project. The kernel from @fmntf doesn't compile (the do_compile_kernelmodules() task fails). The linux-imx sources do compile for the UDOO NEO (I dropped the Quad) but I stay blocked at boot:

[code]
I use the DTS and the defconfig file from the repository of @fmntf.

U-Boot pr

[2017-01-31 10:42] cyrilfr commented on #34
@modjo756 Did you figure out how to fully support CAN?

[2017-01-31 11:30] fmntf commented on #18
That issue if fixed on my kernel: https://github.com/fmntf/linux_kernel/commit/0dffbfaa5b5877ec32bd31c709eefe1e8c713358

[2017-01-31 11:36] cyrilfr commented on #18
Thanks @fmntf but I already use your DTS and defonconfig files. Freescale kernel doesn't have a proper support for the UDOO NEO.

Maybe you could fix the issue with kernel modules in your kernel source ? https://github.com/UDOOboard/linux_kernel/issues/23#issuecomment-276307145

Here is my layer : https://github.com/cyrilfr/meta-udoo
Files used to compile : https://github.com/cyrilfr/meta-udoo/tre

[2017-01-31 12:20] modjo756 commented on #34
No for the moment CAN not working ...

[2017-01-31 19:19] graugans commented on #34
@cyrilfr your work on kernel 4.1 looks really promissing. When I find some time I'll try to integrate your changes into my layer. At the moment I have some difficulties to test CAN due to a missing endpoint.

[2017-01-31 19:37] graugans commented on #18
@cyrilfr For the morty branch the manual call to the wic tool is not needed anymore. It looks like an issue with the initialization of the mmc. From your kernel log the mmc seems not be proper initialized:

[code]
The Mapping is done [imx6sx-udoo-neo.dtsi#L19](https://github.com/cyrilfr/meta-udoo/blob/morty/recipes-kernel/linux/linux-imx/udooneo/dts/imx6sx-udoo-neo.dtsi#L19)

U-Boot sets the root

[2017-01-31 20:09] cyrilfr commented on #18
@graugans Yes you're right and as you can see U-Boot loads the right DTB file so it should theoretically map the mmc0 as it includes the mentioned DTSI file. I've never been able to compile the sources from the fork https://github.com/fmntf/linux_kernel/tree/4.1.15_1.x-udoo . I wonder if this one is able to boot. If yes, with which version of U-Boot?

[2017-01-31 21:03] fmntf commented on #18
Tomorrow I will try to rebuild it. I also have a newever kernel (4.1.15_2.0.0) on another computer, but I have forgotten to push it to GitHub.
Probably newer compilers broke something. On Ubuntu 16.04 with the default cross-compiler it worked fine.

I used U-boot 2015 and 2016. They both worked fine.

[2017-01-31 21:55] cyrilfr commented on #18
I tried with u-boot-fslc from [this recipe](https://github.com/Freescale/meta-freescale/blob/master/recipes-bsp/u-boot/u-boot-fslc_2016.11.bb) of meta-freescale. I also compiled the kernel with [linux-imx](https://github.com/Freescale/meta-freescale/blob/master/recipes-kernel/linux/linux-imx_4.1.15.bb) also from meta-freescale layer. There is u-boot-imx and u-boot-fslc, linux-imx and linux-fslc re

[2017-02-01 09:11] graugans commented on #18
@cyrilfr It should not really depend on the U-Boot. The kernel is orchestrated by the device-tree, the only influence U-Boot does have in this case is the ``bootargs`` the difference between  ``linux-imx`` and linux-fslc is the ``c`` what stands for community. The [linux-fslc](https://github.com/Freescale/linux-fslc) is maintained by the community and hosted at [github](https://github.com/Freescal

[2017-02-01 10:24] cyrilfr commented on #18
Yes so I edited my recipe to use linux-fslc instead. The kernel compiles but I have an error while compiling the kernel-module-imx-gpu-viv_5.0.11 module.

[code]

[2017-02-01 10:25] fmntf commented on #18
Please try to build this branch: https://github.com/fmntf/linux_kernel/tree/4.1.15_2.x-udoo
It contains fixes for GCC 6

    make mrproper
    ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- make udoo_neo_defconfig
    ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- make imx6sx-udoo-neo-{basic,basicks,extended,full}{-hdmi,-lvds7,-lvds15,}{-m4,}.dtb zImage modules firmware -j8

[2017-02-01 13:59] cyrilfr commented on #18
It doesn't compile that way as the default udoo_neo_defconfig file enable ttyMCC which is not supported anymore. Otherwise, it compiles. There is probably an issue with the recipe or the OpenEmbedded environment. I'll have a look on this.

[2017-02-01 14:03] fmntf commented on #18
Sorry, in the directory where I have built 4.1.15-2.0.0 I had some uncommitted changes (an initial draft of ttyMCC on 4.1). Btw, if you disable ttyMCC from defconfig you should be able to build a fully working kernel. SD card should work too.

[2017-02-01 14:09] cyrilfr commented on #18
Well, it does compile directly with make, compiling with BitBake (in OpenEmbedded) still doesn't work for me. Here is the most important part of the logs :

[code]
But surprisingly (or not), the file `drivers/net/wireless/ti/wlcore/release_version.h` DOES exist. I'll have to figure out why the `cat` command in the Makefile doesn't find it :/

[2017-02-01 14:17] graugans commented on #18
@cyrilfr This maybe caused by an issue with out of source builds. You can try to set ``B=${S}`` in your bbappend file. This may break the building of the vivante driver afterwards.

I mostly debug stuff like this with

[code]

[2017-02-01 16:10] cyrilfr commented on #18
@graugans That was the issue! Unfortunately, it still doesn't boot correctly. The symptom is still a wait on root device /dev/mmcblk0p1. Maybe an error in the WIC script?

[2017-02-01 18:22] graugans commented on #18
No, wic is just for creating the image. I guess the issue is kernel related. I'll check on Friday or Saturday.

[2017-03-31 17:52] JochenLoeser commented on #18
I have the same problem.
I don't have a real solution but after verifing, that the sd card has power I looked through the kernel source code.
Apparently the sd card driver does not work with my sd card.
I've got a https://www.google.com/search?q=sandisk+ultra+32gb+sdhc+micro+sd (at least the picture is the same)
I took the identical image with a 'normal' non SDHC card and it worked!

I tracked the

[2017-04-01 08:37] modjo756 commented on #18
Hi all, this week i had a formation on yocto and linux embedded with phytec in France. During the training we use there mira3 board (imx6 quad like udoo quad and seco sbc a62). Phytec are on linux mainline for [linux-kernel](https://git.phytec.de/linux-mainline/?h=v4.1.18-phy) (very interesting for maintaining and update !). Perhaps we could have a look on their repository to check if we can adapt

[2017-04-05 16:39] JochenLoeser commented on #18
I think I found a(the?) solution: `no-1-8-v;` is missing. See: https://github.com/UDOOboard/linux_kernel/blob/3.14-1.0.x-udoo/arch/arm/boot/dts/imx6sx-udoo-neo.dtsi#L529
As far as I understand the Device Tree (and please correct me if I'm wrong - I want to learn something): The sdcard interface (usdhc2) is supplied by regulator vcc_sd2. This is a fixed regulator (the min/max values states this too

[2017-04-05 19:05] graugans commented on #18
@JochenLoeser Have you checked the schematics how the 1.8v is generated? I have so much i.mx6 boards floating arround not sure how this is done in UDOO at the moment. The frequency and voltages is still a mysterium in device tree for me as-well. I guess the handling of regulator have changed in 4.x kernels.

[2017-04-05 20:22] JochenLoeser commented on #18
My first thought (before I even found this issue) was that the inversion of the chip-detect pin ( https://github.com/fmntf/linux_kernel/commit/0dffbfaa5b5877ec32bd31c709eefe1e8c713358#diff-c63642f2e8268f6942b422d66eeda0e0L356 ) was a mistake. So I measured the supply voltage at the sdcard connector: 3.3V

I have to double check with the real board but according to the schematics the sdcard VDD is

[2017-04-06 07:46] fmntf commented on #18
Hi guys. `no-1-8-v;` was removed by mistake. I will bring it back, thank you for noticing! (Pull requests are welcome)
The SD card runs at 3.3V only. You can verify it on the Neo revD schematics on page 8. `NVCC_3V0` and `VCC_SW` are fixed and cannot be changed.

The card detect pin logic was probably not checked on Linux 3.14, where it was wrongly declared as GPIO_ACTIVE_HIGH instead of GPIO_ACTI

[2017-04-06 19:48] modjo756 commented on #18
Hi all, i saw they have some progress on kernel 4.1 ... good news ! Graugans, do you plan to integrate this kernel on morty branch ?

[2017-04-06 20:39] fmntf commented on #18
Remember there is no M4 communication support on this kernel. I don't even know if M4 can boot at all, I did not verify the shared memory pools.

[2017-04-06 20:44] modjo756 commented on #18
thanks for this precision @fmntf , could you explain (rapidly) why this works on 3.14 and not in 4.1 please ? where is your driver that enable this on 3.14 ?

[2017-04-07 06:41] cyrilfr commented on #18
@fmntf for people like me who don't use the M4, moving forward to 4.1 and beyond worth it.

[2017-04-07 07:09] fmntf commented on #18
Yeah, I know. But since it is not complete, we cannot move it on the official UDOO repo.
If you are interested there is an Ubuntu 16.04 image with this kernel and most of the standard UDOO stuff (GPU acceleration on Xorg and QT, ...) [here](https://drive.google.com/open?id=0B400VKg9Vc0rVkEtS1hOTWVFYjA).
Regarding the missing M4 stuff: NXP deprecated the MCC stuff just after 3.14, they use rpmsg no

[2017-04-19 08:19] modjo756 commented on #34
Just build an image (minimal/command line) with morty branch and your layer @graugans and CAN is not working, i have this error :
[code]
@cyrilfr , did you try with can with morty Branch ?

For information i use kernel 3.14 and disable M4, with ifconfig -a i have this :

`root@udooneo:~# ifconfig -a
can0      Link encap:UNSPEC  HWaddr 00-00-00-00-00-00-00-00-00-00-00-00-00-00-00-00
          UP RU

[2017-04-20 08:14] modjo756 commented on #18
@cyrilfr a question, to compile the kernel 4.1.15, do you apply the same patch that in kernel 3.14 (in yocto) ARM-8158-1-LLVMLinux-use-static-inline-in-ARM-ftrace.patch ...

[2017-04-20 09:05] cyrilfr commented on #18
@modjo756 No, I used the linux-imx recipe from meta-freescale : https://github.com/cyrilfr/meta-udoo/tree/morty/recipes-kernel/linux

[2017-04-20 09:57] modjo756 commented on #18
Ok thanks, if i understand, you didn't use Francesco implementation of kernel ?

[2017-04-20 14:33] cyrilfr commented on #18
No I didn't.

[2017-04-20 14:39] modjo756 commented on #18
Ok i just build a yocto image with @graugans layer (morty branch) and kernel 4.1.15 from @fmntf . It compile but it's needed to remove ttyMCC module and i needed to add this patch :

[code]
 to remove error during the build
[code]
Now the card boot fine :

[code]
but have issues with CAN Bus (like kernel 3.14.56 ...)

[2017-04-20 14:47] cyrilfr commented on #18
How did you manage to put the uEnv.txt file on the SD card?

[2017-04-20 15:03] modjo756 commented on #18
I use @graugans layers (Morty) didn't make modifs for this point

[2017-04-20 15:07] cyrilfr commented on #18
So this doesn't work with LVDS screen?

[2017-04-20 15:44] modjo756 commented on #18
I didn't test lvds screen for the moment (i use HDMI) ...

[2017-04-20 16:10] modjo756 commented on #34
Some progress, we need to use can-utils and not canutils (see in /images/udoo-image-full-cmdline.bb), now when i launch candump (in kernel 3.14, i suppose this works with kernel 4.1 i will test it tomorrow) i have this :
`socket: Address family not supported by protocol`
and in dmesg :
[  208.250295] flexcan 2090000.can can0: writing ctrl=0x0e313005
[  218.374684] can: no symbol version for sock_r

[2017-04-21 09:38] modjo756 commented on #34
Ok, today i tried with kernel 4.1 and it work if i disable M4 core ! (perhaps a problem like describe [here](http://www.udoo.org/forum/threads/canopen-using-flexcan.6438/)). Now retry with kernel 3.14.56, disable m4 core but already the same error announced in my precedent post ... Help are welcome !
_edit :_
After some test with kernel 3.14.56 (disable M4, ttyMCC driver, back to previous kernel c

[2017-04-21 19:49] #14 closed

[2017-04-21 19:50] modjo756 commented on #14
Uart6 works fine now.

[2017-04-22 07:47] graugans commented on #34
@modjo756 do you have a kernel 4.1 recipe around? Can you provide a link?

[2017-04-22 07:49] graugans commented on #18
@modjo756 thx  for sharing the changes. I try to add this soon to the repo.

[2017-04-23 19:57] cyrilfr commented on #18
@graugans, @modjo756 did you manage to use an LVDS screen with the meta-freescale u-boot recipe?

[2017-04-24 07:27] modjo756 commented on #34
@graugans , see [here](https://github.com/modjo756/recipes-kernel) (just created one)

[2017-04-24 08:43] modjo756 commented on #18
@cyrilfr , if you talk about the u-boot used in graugans layers, yes i use lvds screen with all the card fine (neo, quad and sa62) --> krogoth Branch and kernel 3.14.56 ....

[2017-04-24 08:51] cyrilfr commented on #18
How does it load the uEnv.txt file in the "boot/" directory? In my case it doesn't.

[2017-04-24 09:10] modjo756 commented on #18
Yes the uEnv file is in the boot/ folder

[2017-04-24 15:33] modjo756 commented on #34
Today, i'm back to krogoth branch and last revision of kernel 3.14.56 and CAN works if i disable or remove scketch from M4 (i don't know why on Morty branch this didn't work on kernel 3.14) ... There is probably a conflict with default arduino spi pins and CAN pins on A9 like describe on [neoDocs](http://www.udoo.org/docs-neo/Hardware_&_Accessories/SPI_bus.html) :

`ECSPI 5 has the same pin order,

[2017-04-30 22:11] modjo756 commented on #18
@cyrilfr  you are right about the problem to load uEnv.txt (LVDS output) i have the same issue, this is due that at boot stage (u-boot) the file system is not recognise ! see under :

[code]

we can see : Unrecognized filesystem type ...

Perhaps a problem with wic, @graugans if you can look at this  (for information i have the lvds output selected because i modify the default selection in udooini

[2017-05-01 07:16] cyrilfr commented on #18
No there is no issue with the filesystem. If you copy the uEnvt.txt file in the boot/ directory manually, it will work. We just need to put this file at the right location inside the bbappend file. If you look at your u-boot-fsl.bbappend file, nothing put the uEnv.txt file in boot/.

[2017-05-01 13:10] modjo756 commented on #18
yes but i have an uEnv.txt in /boot --> see uenv_0.1.bb in recipes-udoo/environment and there is the same file in /recipes-bsp/u-boot/u-boot-fslc/udooqdl(or udooneo) ?!

[2017-05-02 06:35] cyrilfr commented on #18
OK but why using an external recipe instead of using the u-boot bbappend file ?

[2017-05-02 08:38] modjo756 commented on #18
I don't know, only @graugans can answer on this point !
Otherwise, wifi also work on kernel 4.1.15 with udoo quad, all seems ok ! I will make a test on secoA62 this week and let you know.

[2017-05-03 06:10] graugans commented on #18
@cyrilfr I tried this approach but as far as I remember this caused an issue because u-boot is not intended to be installed on the image. When I got rid of the ``/boot`` partition and read the ``uEnv.txt`` file directly from the rootfs either a major rewrite of the bbappend or a new recipe was needed. I decided to write a new recipe. Skipping the ``/boot`` partition makes things more reliable in m

[2017-05-03 06:15] graugans commented on #18
@modjo756 and @cyrilfr It looks like both of you have recipes for kernel 4.1 at least on your local machine. It would be very nice to see some Patches or even Pull-Request. If needed I add an separate branch so we can try to fix things up. I am very short in time but would be fun to get 4.1 kernel up and running.

[2017-05-03 06:40] cyrilfr commented on #18
@graugans I was stucked to boot the kernel but once I'll get it work, probably next week, I'll detail every single step and push all the recipes.

[2017-05-03 08:52] modjo756 commented on #18
@graugans see [here ](https://github.com/modjo756/recipes-kernel)for my kernel 4.1 (first commit), i will update it this week. It will be great if you can push a dev branch on morty kernel 4.1 !

[2017-05-03 16:07] graugans commented on #18
I just pushed a preliminary recipe for [kernel 4.1](https://github.com/graugans/meta-udoo/tree/morty-4.1) based on the work from @modjo756

[2017-05-03 20:22] modjo756 commented on #18
This evening, trying to boot kernel 4.1 on secoA62 but some problem due to   ** Unrecognized filesystem type ** at boot stage ... tried also to load image from tftp with no success ! We need to resolve the problem with /boot

[2017-05-04 03:48] graugans commented on #18
I guess this is again related to the on board emmc and the different ordering of sdcard on A62

[2017-05-04 07:38] modjo756 commented on #18
Yes i suppose, i have tried with different options (env u-boot, /dev/mmcblk0p1 ...) but no success !

[2017-06-29 19:46] modjo756 commented on #18
For information seco as provided a bsp for it's board with kernel 4.1.15 [here](https://secogit.seco.com/imx6_release/linux-4-1-15-secoboards-imx6-rel/tree/master) and here the [bsp](https://secogit.seco.com/imx6_release/meta-seco-bsp-release-2-0-rel/tree/master). i will try and let you know how it works !

[2017-06-30 09:22] graugans commented on #18
Thanks for the hint.

[2017-07-03 20:21] modjo756 opened #38 "wlan not working"
Hi i'm trying to use wifi (host ap with connman) on neo card with morty branch and kernel 3.14.56 but i have this error when i'm trying to mount the network

`root@udooneo:~#  connmanctl tether wifi on wifiNetwork 123456789
Wifi SSID set
Wifi passphrase set
[   88.217414] ipv6: no symbol version for sock_register
[   88.224577] ipv6: Unknown symbol sock_register (err -22)
[   88.231826] ipv6: no s

[2017-07-05 06:21] RobertBerger opened #39 "upstream/mainline u-boot/kernel"
Hi,

I am looking into the udoo neo in order to play with LInux on the i.mx6 + FreeRTOS on the Cortex M4.

... but i would like to use upstream/mainline u-boot and kernel.

As far as I can see there is udoo support in u-boot[1], but not sure this works for the

[1] http://git.denx.de/?p=u-boot.git;a=blob;f=board/udoo/README;h=6fbcc598f77b2fa19689a7fc6f84548b08f6348f;hb=HEAD

[2017-07-05 09:36] graugans commented on #39
Hello @RobertBerger this is a topic I have on the TODO List since a long time. It would be a real plus to get mainline u-boot integrated into  this layer. I am highly interested in FreeRTOS on the M4 as-well. Some greetings from **ifm**

[2017-07-05 12:55] modjo756 commented on #39
Like you it would be great to have a mainline kernel and FreeRTOS on M4 but i cry that the big problem is the driver for rpmsg between A9 and M4 ...

[2017-07-09 17:40] RobertBerger commented on #39
@modjo756: I don't think this is the problem. There are reference implementations for the i.mx7. I assume the part running on the Cortex M4 should be pretty similar.
Have a look here:
https://github.com/OpenAMP/open-amp/wiki/AMP-Intro
https://stash.phytec.com/projects/PUB/repos/freertos-phytec/commits?until=refs%2Fheads%2Fv8.0.0-phy&merges=include
http://git.toradex.com/cgit/freertos-toradex.git/t

[2017-07-27 18:26] modjo756 opened #40 "Qtquick extras missing in morty branch with qt 5.8"
I have build qt 5.8 in morty branch but it appears that qtquick-extras (plugin of qtquickcontrols) is not build ... I have included qtquickcontrols and qtquickcontrols-qmlplugins but the package is not build like in 5.7 ... Don't find solution for the moment !

_edit :_

Perhap's the good solution to have 5.8 working is to use pyro branch ? I saw tha @drewmoseley  have one in wip ... @graugans do

[2017-07-28 13:19] graugans commented on #40
When there is a PR from @drewmoseley I will merge it. At the moment I do not have time to work on a pyro branch on my own. Maybe I have something floating around and check if I can push it upstream.

[2017-07-28 13:41] drewmoseley commented on #40
@graugans there is no pyro branch to submit a PR against.  I do have a working one in my fork.  I'll take a look later today and make sure it's still functional and post the link here.

[2017-07-30 18:50] drewmoseley commented on #40
Apologies for taking a bit longer on this than I had anticipated.  I was finally able to complete my builds and test these branches today.

My wip-pyro branch seems to work based on the minimal testing I've done.

I did see some issues with my wip-master branch; notably an RCU stall.  Also there is a build issue due to a change in poky that requires an additional change in meta-freescale.  My hack

[2017-07-30 21:58] modjo756 commented on #18
@graugans @drewmoseley , with my qdl i use kernel 4.1 that works fine but not for wifi. At first boot i have it i can connect to it, but at second boot i did'nt have wlan0, see the error at boot :
Configuring network interfaces... [    4.291123] usb 1-1.3: New USB device found, idVendor=148f, idProduct=5370
[    4.298107] usb 1-1.3: New USB device strings: Mfr=1, Product=2, SerialNumber=3
[    4.2

[2017-07-30 22:02] drewmoseley commented on #18
No clue, sorry.  I only have tried it with wired Ethernet.

[2017-07-30 22:41] modjo756 commented on #18
Tried with kernel 3.14 but same issue ... perhap's a problem with samba, apache , ftp ...
Find where is the problem --> i have an enocean usb key (that use ftdi serial) on my card, when i remove it wifi work fine ... apparently they have a confuse with this 2 periph on usb ...

`Could not read interface wlan0 fl[    4.817140] usb 1-1.4: FTDI USB Serial Device converter now attached to ttyUSB0
ags:

[2017-08-08 13:23] drewmoseley commented on #40
@graugans how should I submit the above branches for consideration?  I don't want to do a PR against morty for obvious reasons.

[2017-08-10 06:32] graugans commented on #40
Sorry for the delay, I'll create one

[2017-08-10 06:51] graugans commented on #40
I've just created the branch and the PR #41 and already merged it.

[2017-08-10 17:33] modjo756 commented on #40
Back from holidays :-(, i will test and let you known !

[2017-08-11 09:17] modjo756 commented on #40
@graugans could you create pyro branch for fsl-community-bsp-platform and udoo-community-bsp-base please ?

[2017-08-14 06:55] graugans commented on #40
@modjo756 done

[2017-08-14 09:24] modjo756 commented on #40
@graugans @drewmoseley  I have launch a build in pyro branch but i have some issues during the generation of rootfs, see [here](https://gist.github.com/modjo756/a4afdb003e7acc3c7f6ae433c65af791).  This is the [local.conf](https://gist.github.com/modjo756/db352a7325ced3d581fde872dddbcf7a) that i use. The alsa-lib is present now in folder

in krogoth/morty the alsa lib is in

Otherwise, in my recipe

[2017-08-14 13:47] drewmoseley commented on #40
@modjo756 is there a reason you are trying to call the autotools stuff directly rather than just inheriting the autotools bbclass and letting it do everything?  See for instance https://git.yoctoproject.org/cgit/cgit.cgi/poky/tree/meta/recipes-core/console-tools/console-tools_0.3.2.bb

[2017-08-14 13:59] modjo756 commented on #40
@drewmoseley   thanks for your answer but can you explain more about that that please ? i suppose you are talking about my enocean.bb ?

[2017-08-14 14:08] drewmoseley commented on #40
Yes.  You should be able to simply inherit autotools and let that do all the recipe steps for you. That should set up the dependencies on autoconf-native, etc and generate the appropriate do_configure, do_compile, etc steps without you needing to do much of anything.

This may give you an idea: https://www.yoctoproject.org/docs/2.3.1/dev-manual/dev-manual.html#new-recipe-autotooled-package

[2017-08-14 14:26] modjo756 commented on #40
Thanks a lot ! for enocean.bb this work fine but i already have the error for alsa-lib :

[code]

[2017-08-14 15:01] modjo756 commented on #40
After check, enocean now build .so lib and not .a and .la files :

└── usr
    └── lib
        ├── libEOLink.so -> libEOLink.so.0.0.0
        ├── libEOLink.so.0 -> libEOLink.so.0.0.0
        └── libEOLink.so.0.0.0

I need to check on the card if it works ! For the sdk i don't see the header files for cross-compile
edit :
The header files are in enocean-dbg but eoVersion.h is missing i suppose that

[2017-08-14 16:35] graugans commented on #40
@modjo756 is your updated enocean recipe somewhere available? Can please verify is alsa is in distro features?

[code]

[2017-08-14 16:49] modjo756 commented on #40
@graugans this is my enocean recipe (not commit for the moment) :

SUMMARY ="enOcean recipe for yocto"

DESCRIPTION = "enOcean allow to control device that use this protocole for home automation ..."

AUTHOR = "modjo.buggy22@orange.fr"

LICENSE_FLAGS = "trial_enocean"

LICENSE = "CLOSED"

LIC_FILES_CHKSUM = " \
    file://${WORKDIR}/EOLink/LICENSE;md5=bad3069f1239057481be546550adfeca \
    file://

[2017-08-14 20:55] modjo756 commented on #40
Same result when i add alsa to distro_feature ...

No package alsa-lib available.
Error: Unable to find a match

[2017-08-14 21:22] drewmoseley commented on #40
@modjo756 what happens if you just try to "bitbake alsa-lib"?  My guess is that it has something to do with the LICENSE_blah settings.

[2017-08-16 06:07] graugans commented on #40
Another possibility is that including another alsa package contains the lib. Maybe a grep in a ``morty`` environment for ``alsa-lib`` will show up some recipes which also use ``alsa-lib `` check how those packages in ``pyro`` handle the alsa dependencies.

[2017-08-16 06:15] modjo756 commented on #40
@drewmoseley , sorry for my answer delay ...
test with "bitbake alsa-lib" --> build without error or warning ! but same error during rootfs !

[2017-08-16 08:58] modjo756 commented on #40
@graugans , perhaps this [recipe](https://layers.openembedded.org/layerindex/recipe/65158/) from freescale can resolve this issue

[2017-08-16 15:28] modjo756 commented on #40
i (think) i have resolved the problem with alsa like this. I created a udoo-image-qt5.bbappend on my layer :

QT_TOOLS_remove = " qtbase-fonts\
                    qtdeclarative-plugins \
"
QT_TOOLS_append = " \
    qtquick1 \
    qtquick1-qmlplugins \
    qtquick1-plugins \
    qtserialport \
    qtserialbus \
    qtcharts \
    qtquickcontrols \
    qtquickcontrols-qmlplugins \
    qtquickcontro

[2017-08-22 16:08] cyrilfr commented on #18
@graugans @modjo756  I tried to compile an image with your kernel 4.1 branch. It seems to work fine except that the LVDS 7'' touchscreen events aren't triggered. I tried event0, event1 and event2 as input in the qt-env.sh file.

There is also regular errors:
[code]

[2017-08-23 06:22] graugans commented on #18
@modjo756 related to your wifi issue maybe @fmntf have an idea? For Wifif we may have to also to check the drivers and firmware for updates.

@cyrilfr I am very sorry but I do not have one of those LVDS touch screens. So I can not debug this.

[2017-08-23 20:41] modjo756 commented on #40
I close this issue now qt5.8 work fine !

[2017-08-23 20:41] #40 closed

[2017-08-23 20:43] modjo756 commented on #18
@graugans , i will take a look on driver when i have more time !
@cyrilfr did you check in defconfig if st1232 touchscreen is enabled on 4.1 ?

[2017-08-24 12:39] cyrilfr commented on #18
I was confused because I didn't run the "do_configure" task. Everything works fine now :)

[2017-08-28 12:05] drewmoseley commented on #18
@graugans Did you realize that my pyro branch had the kernel 4.1 recipe in it?  I had intended to remove that due to the earlier comments about needing the 3.14 kernel for the Arduino stuff.

[2017-08-29 07:02] graugans commented on #18
@drewmoseley due to the fact @modjo756 is the only Arduino user so far :) and he requested kernel 4.1 this was okay for the moment. Hopefully I can get some time to fix some issues with UDOO this week.

[2017-08-29 07:07] cyrilfr commented on #18
I found a warning in dmesg about spidev in the DT file:

[code]
---------------------------------------------------------------------------------------
An idea how to disable the bluetooth on the NEO? And NFS?

[2017-08-29 07:15] fmntf commented on #18
Just FYI, there is Arduino/M4 support for Neo [here](https://github.com/fmntf/linux_kernel/commits/4.1.15_2.x-udoo), using rpmsg instead of mcc. That is not officially merged btw.

[2017-08-30 17:04] modjo756 commented on #18
@fmntf  good news ! I hope this also resolve the issue with CAN bus, for the moment impossible to use the M4 (activated) and CAN in the same time ! I will test and let you known ...

[2017-08-30 17:07] modjo756 commented on #39
@RobertBerger , for information there is an update to use kernel 4.1 with M4 and rpmsg [here](https://github.com/graugans/meta-udoo/issues/18#issuecomment-325576153) . Otherwise did you make some progress on your side ?

[2017-08-30 22:35] drewmoseley commented on #18
All, FWIW, I managed to get the onboard wifi working.  In my pyro branch I have a few extra commits from https://github.com/graugans/meta-udoo/issues/18 as well as some defconfig mods to enable it.: https://github.com/drewmoseley/meta-udoo/tree/pyro

[2017-08-31 06:46] RobertBerger commented on #39
@modjo756 , I did not have any time to play with this yet. At the moment I am at a board manufacturer. They have an i.mx7/Cortex-M4 board. This might be an option as well.

[2017-08-31 17:19] modjo756 commented on #18
All, i will test (i think if i have the time ...) the build in pyro with kernel 4.1 (and rpmsg) next week ... i let you known

[2017-08-31 20:36] modjo756 commented on #18
Tonight i'm trying to build an image for seco A62 with kernel 4.1 from [seco git ](https://secogit.seco.com/imx6_release/linux-4-1-15-secoboards-imx6-rel/tree/master) and the [recipe](https://secogit.seco.com/imx6_release/meta-seco-bsp-release-2-0-rel/blob/master/recipes-kernel/linux/linux-seco_4.1.15.bb) but i have this error during the fetch step :

WARNING: linux-seco-4.1.15-r0 do_fetch: Failed

[2017-09-02 11:08] graugans commented on #18
You can create a local mirror and use this or ask them if it is okay to have a public one.

[2017-09-04 08:11] modjo756 commented on #18
Yes this is what i did [here](https://github.com/modjo756/linux-seco-4.15). I have make a fusion with seco kernel and @fmntf repo . For the moment i have some errors during build but when i have something that work i let you known. Otherwise i don't know for uboot if it's better to use fsl u-boot branch or seco ...

[2017-09-05 21:49] modjo756 commented on #18
@fmntf , i'm trying to build kernel 4.1.15 for secoA62 but i have this error during build that i can't resolve :

[code]
Do you have an idea where is the issue ?

[2017-09-06 06:00] graugans commented on #18
@modjo756 could you please be so kind and attach your defconfig for this build? It looks like you are using the wrong i.mx6 type. ``mx6ull`` The error messages:

[code]
Indicate that device tree is not enabled or there was a renaming between kernel versions.

[code]
Is the external watchdog used on the A62. I guess this is missing in defconfig as-well grep for ``imx6q_init_machine`` and check if t

[2017-09-06 07:08] modjo756 commented on #18
@graugans , no problems ! i use the defconfig of seco [here](https://secogit.seco.com/imx6_release/meta-seco-bsp-release-2-0-rel/blob/master/recipes-kernel/linux/linux-seco-4.1.15/defconfig). I also updated my [git](https://github.com/modjo756/linux-seco-4.15) with the modification that i already did.

edit :
@graugans you are right in seco defconfig they [enable ](https://secogit.seco.com/imx6_re

[2017-09-06 20:57] modjo756 commented on #18
I have disabled imx6UL,SX ... just keep quad but same error (with quad) :

[code]

@graugans , you are right about the external watchdog, i find in apx_wdog-trigger.h (arch/arm/mach-imx) a ``#ifndef __WDOG_TRIGGER_PLATFORM_H__`` do declare or not the function. In file mach-imx6q.c seco add this to static void __init imx6q_init_machine(void) :

[code]

But i didn't know how to declare it in defconf

[2017-09-07 09:32] graugans commented on #18
@modjo756 you'll need a ``KConf`` entry beside the defconfig

[2017-09-07 09:36] modjo756 commented on #18
Sorry for my low knowledge, but can you explain more the utility of this file please ?

[2017-09-07 17:37] modjo756 commented on #18
@patrykk perhaps you can help on this ...

[2017-09-14 19:00] cyrilfr commented on #38
There is a bug in the wl18 (udoo neo) driver I guess. When you try to connect multiple UDOO to the same AP, they get disconnected after a while. There is messages from the kernel.

wlcore: WARNING corrupted packet in RX: status: 0x3 len: 76 (repeated 2 times)
wlcore: WARNING corrupted packet in RX: status: 0x3 len: 216 (repeated 2 times)
wlcore: WARNING corrupted packet in RX: status: 0x3 len: 104

[2017-09-21 08:29] cyrilfr commented on #38
What's the point of the file "wl18xx-conf.bin" in the recipe wl18xx-conf ? It seems that updating the TI firmware could resolve the issue. This bug makes the UDOO NEO Wi-Fi unusable when there is more than 2 device on the same WLAN.

https://support.logicpd.com/TDGForum/tabid/124/aft/2026/Default.aspx

I also moved to the last commit (tag R8.7_SP2) : https://git.ti.com/wilink8-wlan/18xx-ti-utils/c

[2017-09-25 09:50] graugans commented on #38
The origin of ``wl18xx-conf.bin`` was the official UDOO image. @cyrilfr if you have a better version I would really happy to add this file. As far as I remember this file could be generated with the input of some ini files. I am not sure if it is possible to generate an ini back from the bin to compare what are the differences.

[2017-09-25 09:58] cyrilfr commented on #38
I don't have a better configuration file. As far as I know, this is more a firmware related issue, which is closed-source.

I found that the kernel has the last firmware (wl18xx-fw-4.bin) available on Internet (no need to update it with a new recipe).

There is a very ugly workaround proposed in this thread using a watchdog to detect corrupted packets with a counter and perform a reauthentication

[2017-09-25 15:40] graugans commented on #38
That are bad news, I guess you've tried this with the official UDOO image as-well.

[2017-09-26 09:02] cyrilfr commented on #38
I was wrong, the firmware provided in poky isn't the last one. Poky provides the v8.9.0.0.69 and the last one available is the v8.9.0.0.75. This update fixed the issue.

[2017-09-26 09:14] cyrilfr commented on #38
You can find a fully working layer with linux v4.1 (only udooneo) on my repo : https://github.com/cyrilfr/meta-udoo
WARNING: I updated a few options in the defconfig to fix issues from the graugans's layer and moved recipes to more relevant places.

[2017-10-05 08:14] modjo756 commented on #18
@drewmoseley , i tested your last version of pyro branch with udooneo , good work ! But i have some issues.
@fmntf , i used the last revision of your kernel SRCREV = "a68513ba9d3203adb5d65de724dbb6b923085096" but i need to patch it (see the zip file):

[udooneo-patch.zip](https://github.com/graugans/meta-udoo/files/1358383/udooneo-patch.zip)

with that the kernel build fine with rpmsg driver. When

[2017-10-05 08:30] fmntf commented on #18
Thank you! I have added you as collaborator, you can commit your patch on the 4.1.15_2.x-udoo branch.

[2017-10-05 09:29] modjo756 commented on #18
@fmntf sorry but i can't push to your git :
`modjo@KDE-Z400:/media/modjo/data/udoo/linux_kernel$ git push origin 4.1.15_2.x-udoo
Username for 'https://github.com': modjo756
Password for 'https://modjo756@github.com':
remote: Permission to fmntf/linux_kernel.git denied to modjo756.
fatal: unable to access 'https://github.com/fmntf/linux_kernel.git/': The requested URL returned error: 403
`

[2017-10-05 09:30] fmntf commented on #18
Sorry. Try now.

[2017-10-05 09:45] modjo756 commented on #18
Done !

[2017-10-05 16:30] drewmoseley commented on #18
@modjo756 do you know that the uEnv.txt stuff worked prior to my change?  I loaded up a morty build and it doesn't seem to work on the Neo.  I see the settings for it in EXTRA_ENV_SETTINGS in udoo_quad_dual.h but not udoo_neo.h.

[2017-10-06 07:25] modjo756 commented on #18
@drewmoseley  For me it works fine on krogoth branch (in neo/quad/sa62) but since Morty it didn't !

[2017-10-06 14:12] drewmoseley commented on #18
OK.  That's a bit odd.  It looks like 0001-UDOO-Quad-Dual-support.patch is adding that to the default environment, even in morty whereas 0002-Added-UDOO-Neo-support.patch is not.  My understanding is that upstream U-Boot has changed a bit as regards default boot commands and related environment settings, trying to standardize a bit better across platforms, so it's possible the missing uEnv.txt pro

[2017-10-07 19:39] modjo756 commented on #18
Ok. Do you think that we just need to update the udooneo patch like quad to resolve this ?

[2017-10-09 21:18] drewmoseley commented on #18
@modjo756 perhaps so. Can you verify whether the current quad support for uEnv.txt is functioning?

[2017-10-11 13:48] modjo756 commented on #18
@drewmoseley , in pyro branch for quad the uEnv file is not loaded correctly also

[2017-11-09 12:10] sagniknitr opened #42 ".wic image for yocto"
Is there any specific reason for using the .wic image for yocto in udoo boards , and not .sdcard image ?

[2017-11-09 14:08] graugans commented on #42
The ``.wic`` utility is build into YOCTO the ``.sdcard`` stuff is a class introduced by the raspberry pi meta-layer as far as I know. For me it was easier to use the already available wic mechanism. After getting rid of the vfat partition for the u-Boot script there was no real usecase for the  ``.sdcard`` hack anymore.

Or did I miss understood the question?

[2017-11-12 00:26] sarnold commented on #39
I like pushing mainline/FOSS onto these things, so I made some test builds, one by hand and one using meta-udoo plus my own layers, all FOSS with no vendor trees (just machine info).  Mainline u-boot has a minor config/env patch and mainline kernel (4.12.14) has some initial imx_rproc patches.  Everything works pretty well so far, but most of my testing so far has been kernel/u-boot config and get

[2017-11-12 00:35] sarnold commented on #39
Also note the device tree support in mainline u-boot/kernel is only the minimum 3 board types without any of the extra subtypes in the fsl/udoo forks.  The rproc support should be enough to load firmware and start the M4 core (at least according to the discussion on the kernel list).  My rproc experience is all BeagleBone so far but I do have some arduino/M4 experience, so as long as the linker sc

[2017-11-12 00:52] sarnold commented on #42
Actually this came up right before I started hacking on your layer so it was a good chance for me to test it.  Anyway, apparently Otavio said something about wic replacing the bbclass upstream as the new/default method.

[2017-11-13 06:53] graugans commented on #42
@sarnold and @sagniknitr so we can close this?

[2017-11-13 12:46] cyrilfr commented on #18
Do you also have a very long boot time, especially to load the WiLink drivers?

[2017-11-13 13:19] drewmoseley commented on #18
I've never noticed anything in particular.  But I don't use it that much so don't have much for comparison.

[2017-11-13 13:22] cyrilfr commented on #18
At boot it stays for minutes at this steps:
[code]
According to this thread : https://e2e.ti.com/support/wireless_connectivity/wilink_wifi_bluetooth/f/307/t/369363 it seems that the `wl1271-nvs.bin` file is missing in `/lib/firmware/ti-connectivity/`.

[2017-11-14 14:14] cyrilfr commented on #18
Actually the long boot time has nothing to do with the wl18xx driver. It is related to the random generator causing a delay to start wpa_supplicant. The `dmesg` logs show how long it takes to initialize the random numbers generator (see `random: nonblocking pool is initialized`):
[code]
**Edit :**
This is due to a lack of entropy. If I connect a keyboard and type random keys, it boot in few second

[2017-11-15 21:40] sarnold commented on #42
Fine by me, did you want a pull request for mainline kernel/u-boot stuff?

[2017-11-16 14:15] graugans commented on #42
That would be really nice

[2017-11-17 23:27] sarnold commented on #42
I should probably add a parameter for using mainline, since your image recipes try to install the fsl graphics demos (even the command line image).  I just used(abused) core-image-minimal with most of the config/image_install in local.conf (samples are in meta-small-arm-extra conf/ dir).

Starting a separate issue for mainline integration seems like a good idea, since for now it's all in the manif

[2017-11-19 12:24] #42 closed

[2017-11-20 07:42] cyrilfr commented on #18
I found a solution by adding the `rng-tools` package and set the `default` entropy source to `/dev/urandom` with a `rng_tools_%.bbappend` file.

[2017-11-21 09:16] graugans commented on #42
That sounds perfect.

[2017-11-21 09:44] cyrilfr commented on #38
There is still random errors with the last firmware (8.9.0.0.76) :
[code]
But it seems to recover after that.

[2017-11-22 17:00] RobertBerger commented on #39
@sarnold How about moving to 4.14? Looks like the rproc patch made it upstream[1]

[1] https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git/tree/drivers/remoteproc/imx_rproc.c?h=v4.14.1

[2017-11-24 15:28] patrykk commented on #38
I could not reproduce a problem:

[2017-11-27 06:53] cyrilfr commented on #38
It appears randomly.

[2017-11-29 09:42] graugans commented on #38
That's strange. Sadly I can't take a look at this before XMas holidays

[2017-11-29 20:14] cyrilfr commented on #39
Buildroot uses the v4.10 with the imx_v6_v7 configuration file.

![buildroot](https://img15.hostingpics.net/pics/977065Screenshotfrom20171129211108.png)

And U-Boot 2017.01 with udoo_neo file.

![u-boot](https://img15.hostingpics.net/pics/877589Screenshotfrom20171129211520.png)

To build the image:

    git clone https://github.com/buildroot/buildroot.git
    cd buildroot
    make mx6sx_udoo_neo_d

[2017-12-07 22:24] sarnold commented on #42
I added latest kernel recipes (probably a teensy bit behind now) and tested on neo/udoo-quad, and added that hack parameter for mainline so I could build your images.  I did notice freescale has a use_mainline thing but I didn't look at it (or test it) yet, mainly since my funky small-arm layer already builds the free armada/etnaviv graphics stuff by masking out some freescale recipes and such.  A

[2017-12-08 10:08] modjo756 commented on #39
It seems they have some progress on mainline u-boot/kernel, good !!!
A question, i have tested kernel 4.1.15 (from francesco) but rpsmg driver not working for the moment, did someone have a working driver on this point ? Otherwise, what is rproc ?

[2017-12-08 10:11] modjo756 commented on #18
@cyrilfr , could you add a link to your recipe for rng-tools please ?

[2017-12-08 10:25] modjo756 opened #43 "Backlight not present in FS (for Neo)"
Hi, i tried to shutdown the backlight of my 7" lcd screen (lvds) in neo but i didn't have anything on /sys/class/backlight/ (like on quad or sa62). I modified imx6sx-udoo-neo-lvds7.dtsi file for device tree, but this not resolve the problem, under my patch
[0024-add-backlight-support.patch.txt](https://github.com/graugans/meta-udoo/files/1542291/0024-add-backlight-support.patch.txt)
Do you have an

[2017-12-11 02:07] sarnold commented on #39
I've been testing some newer recipes (mainly on udoo quad) but got hung up on a couple of things, one is that newer-than-4.12 kernels actually don't boot fully with my "typical" rcn-style uEnv args.  Turns out they need the extra (atypical) "uart_from_osc clk_ignore_unused" args to boot.  Also the udooqdl dts somehow lost the second uart definition for the internal sam3 interface so I added a patc

[2017-12-14 19:23] sarnold commented on #39
And I spent too much time hacking ardunio ide 1.8.5 with udoo/sam hardware tree and it sort of works with crossdev multilib build of arm-none-eabi-gcc 6.4.0.  Except for uploading the sketch, is there a generic mechanism for that with 4.14 kernel?  There is no /dev/udoo_whatever any more; do I need to port another patch?  Do I need I need to physically patch with jumper wires?  It's been a long ti

[2017-12-14 19:25] sarnold commented on #39
Also I made a wiki page for this:

https://wiki.gentoo.org/wiki/Udoo

[2017-12-15 19:49] sarnold commented on #39
Got it, found the right forum post and made a driver/dts patch and now arduino IDE on Gentoo with mainline can upload a sketch.  Now I just need to find an LED for blinky test...

[2018-02-15 15:37] cyrilfr commented on #29
I started to move forward to "pyro" branch and I also get an error when building u-boot:
[code]
Are your able to build an image with the pyro branch?

[2018-03-19 23:14] embeddedvn opened #45 "qt5 can't display with distro fslc-x11"
Hello,

I am trying to use distro fslc-x11 with udoo-image-qt5 but it can't display, I don't know exactly the reason why?
root@udooneo:~# export DISPLAY=:0
root@udooneo:~# rxhost +
xhost:  unable to open display ":0"
root@udooneo:~# Qt5_CinematicExperience
QXcbConnection: Could not connect to display :0
/usr/bin/Qt5_CinematicExperience: line 4:   488 Aborted

the same with x11vnc, it can't connect

[2018-03-20 12:56] modjo756 commented on #45
Hi embeddedvn, i never use x11 with yocto, sorry ... Perhaps you can try with wayland and have a look on bootToQt layer for this !

[2018-03-20 13:51] graugans commented on #45
@embeddedvn X11 was never a use-case why is x11 needed?

[2018-03-20 15:52] embeddedvn commented on #45
Hi graugans, modjo,

I want to view Qt app by remote desktop like x11vnc and view on LCD hdmi also. Do you know any way to remote like that by using another distro? with framebuffer distro I can run Qt graphics on hdmi lcd but can't remote vnc. I tried to build framebuffer-vncserver recipe but I met some error when build it.

Thanks for your respond
Dong

[2018-03-20 16:11] modjo756 commented on #45
A solution will be (depending your application complexity) to realize your app with qtwebengine (web server). Like this you can see your web site with web engine on the card and use a web browser on another PC to access your app ...

[2018-03-20 18:27] modjo756 commented on #45
To demonstrate an example of my recent post see [here](http://www.phytec.de/documents/html5-kit-quickstart/#The_Rapid_Development_Kit_content). I have tested this image on phytec board and it works fine. The web page appears on the embedded screen. If i connect to the board (with web browser) with a pc i have the same HMI !
Otherwise i think you must have a look on weston (if you have a raspberry

[2018-03-22 02:30] embeddedvn commented on #45
Thanks for your suggest, modjo. I will try that solution. But I really like to use x11vnc on udooneo like this way: https://www.udoo.org/docs-neo/Basic_Setup/Remote_Desktop_(VNC).html

[2018-03-22 16:16] graugans commented on #45
@embeddedvn you should definitly think about the approach from @modjo756 it is much more modern approach I guess the X11 server + VNC is not get the performance you might expect and you need a separate application to view it. Remember the Neo is single core CPU.  And AFAIK the vivante driver has some restrictions in X11 mode

[2018-03-27 03:45] Tal-eigen opened #46 "UDOO quad can bus issues"
Hello,

I am currently having issues getting UDOO quads flexcan working.

Following is the yocto build configuration i am using. ( krogoth branch)

Build Configuration:
BB_VERSION = "1.30.0"
BUILD_SYS = "x86_64-linux"
NATIVELSBSTRING = "universal"
TARGET_SYS = "arm-poky-linux-gnueabi"
MACHINE = "udooqdl"
DISTRO = "poky"
DISTRO_VERSION = "2.1.3"
TUNE_FEATURES = "arm armv7a vfp thumb neon callconven

[2018-03-27 12:29] modjo756 commented on #46
Hi i don't think that your Line2 is a problem. Can you copy here an ifconfig and ifconfig -a please ?

[2018-03-27 12:50] Tal-seven commented on #46
Here is the output of ifconfig:
[code]
after executing "cansequence can0" ifconfig out changes to:
[code]
for the following command:
`cansend can0 5A1#11.22.33.44.55.66.77.88`

The expected candump output is:
`can0  5A1  [8] 11 22 33 44 55 66 77 88`

But all i end up getting is the following:
`<0x001> [1] 05 `.

After going through another link here
[(https://community.nxp.com/thread/437574)]
It s

[2018-03-27 13:14] modjo756 commented on #46
Ok. Did you make an (for example)

```ip link set can0 type can bitrate 125000 loopback on```
```ifconfig can0 up```
Before cansend ?

Can you test :
```ip -s -d link show can0```

[2018-03-27 14:29] Tal-seven commented on #46
Yes i did configure the interface. Following is the output of the requested command:
[code]

[2018-03-28 13:15] modjo756 commented on #46
It's strange, i didn't use CAN on udoo Quad but on neo and secoA62 and have the same result ... but my CAN network is working ! It seems that i already have a problem like you due to the use of [canutils](http://layers.openembedded.org/layerindex/recipe/70691/) instead of [can-utils](http://layers.openembedded.org/layerindex/recipe/70689/) in my yocto image ... Try to change that and let me know !

[2018-03-28 15:24] Tal-seven commented on #46
I know . Everything seems to be in order. I let it run for a while to see if eventually any errors come up and here is the result.

[code]

no errors at all. dmesg doesnt throw up any errors either except for the
`[    3.056323] 2090000.can supply xceiver not found, using dummy regulator
`
and i switched over to the can-utils package now. The issue persists. So this clearly isnt a software related

[2018-03-29 10:15] Tal-seven commented on #46
I did a little bit of hardware tinkering yesterday and and i was wrong regarding the r1029 and r1030 resistors. Following schematic shows the connection of CANRX_IMX and CANTX_IMX signals (which are also connected to the CANRX0 and CANTX0 signals of the sam3x8e chip) connected to the R3 and R5 pins of the IMX6Q referenced below.

![selection_002](https://user-images.githubusercontent.com/8538969/3

[2018-03-29 13:23] graugans commented on #46
Soory I never tried CAN on any of the UDOO boards

[2018-03-29 13:26] Tal-seven commented on #46
I just tried with the official udoo distribution UDOObuntu 2.1.4 and enable CAN using the device tree editor. Doesn't work.

[2018-03-29 18:48] Tal-seven commented on #46
I went ahead and de-soldered the sam3x8e chip to see if it helps.
![20180330_001219](https://user-images.githubusercontent.com/8538969/38107451-9f7a7468-33af-11e8-803e-6f18c7919606.jpg)

It doesnt :( . I'm out of ideas now. Please do let me know if you guys have something that i could try. In the meanwhile i'll be getting an udoo neo soon. @modjo756 has gotten can working on it i suppose.

Regards

[2018-03-30 12:00] modjo756 commented on #46
@Tal-eigen, have a look on this [post](https://www.udoo.org/forum/threads/can-bus.1066/#post-10726).
Apparently, the TX pin and RX pin need to be swapped on kernel ...
Otherwise, yes on neo i use CAN bus with Qt and it's working fine ! (i use 3 different bus --> added a mcp2551 transceiver  with spi for the third)

[2018-03-31 07:19] Tal-seven commented on #46
@modjo756  I've looked at the link you provided and it is for a pre 3.1x kernel i suppose. Since now all the HW modifications are done using dts files. Regarding udoo neo are you using 4.4 kernel or 3.14? and do both the can interfaces work out of the box with the current morty branch?

[2018-04-02 16:04] #46 closed

[2018-04-03 07:35] modjo756 commented on #46
@Tal-eigen , did you solved this issue ?
Concerning neo, i use kernel 3.14 due to issue with rpmsg (m4 core) on kernel 4.1.

[2018-04-03 11:28] Tal-seven commented on #46
@modjo756 unfortunately no. I will try again in the future though. But currently i have to move on since there is other work that needs my attention. Udoo neo arrived yesterday and i will develop on it now. I will use the IMX6Q for image processing (MT9V034) hopefully the i2c will work :D

[2018-05-22 09:40] cyrilfr commented on #38
I fxed this issue in the rocko branch: https://www.udoo.org/forum/threads/meta-udoo-rocko-for-udoo-neo.14671/

[2018-07-13 17:21] drewmoseley commented on #18
FWIW, I recently managed to get the Udooneo build running in Yocto sumo and master.  Additionally I was able to switch to kernel linux-fslc version 4.17.4.  I have it working on rocko, sumo and master in my fork here https://github.com/drewmoseley/meta-udoo

The GPU driver does not build but I have tested a basic boot, including wifi and remote login.

[2019-03-25 20:25] sarnold commented on #39
The serial/ardiuno patches for imx6 udoo quad/dual are still in Robert's kernel builder repo: https://github.com/RobertCNelson/armv7-multiplatform and I can at least see the devices running 5.0.1 (sadly I have no time to test it with arduino stuff right now).  If someone followed the wiki page for Udoo here:  https://www.digikey.com/eewiki/display/linuxonarm/UDOO and used the current 5.0.1x versio